@model Mobile_PaidThx.Models.PledgeModels.PinSwipeModel
@{
    ViewBag.Title = "Pledge | Confirm Pledge";
    ViewBag.PageID = "confirm-pin-swipe-pledge";
    ViewBag.Classes = "page";
}
<div id="@ViewBag.PageID" class="@ViewBag.Classes"  >
   
    <div class="header-pdthx" >
        <h1>
            Confirm</h1>
             <a href="@Url.Content("~/Pledge")"  class="hd-btn-left btn-back history">Cancel</a>
    </div>
  
    <div class="pd-content">
    <div class="top-panel">
            Swipe your security PIN to confirm.</div>
            @Html.ValidationSummary()
    <div class="pad">
     
        
      
        @using (Html.BeginForm("PopupPinswipe", "Pledge", FormMethod.Post, new Dictionary<string, object> {{ "id", "pinSwipeForm"}, { "data-transition", "slide-up" } }))
        {       
            <div id="pinHolder" class="hider">
            <input type="password" id="patternlock" name="Pincode" class="patternlock" />
            <input type="submit" value="login" id="pinswipesubmit" data-role="none" />
        </div>
        }
    </div>
    </div>

    @section PageScripts
    {
<script type="text/javascript">
    $(document).ready(function() {
        pinswipeResizeController.resizePINs();
    });
</script>
    }

