<script>
    function submitform() {
        alert("You entered " + document.getElementById("patternlock").value);
        return true;
    }
</script>
<div data-role="page" id="bankaccounts-pinswipe-page">
 @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="header-pdthx" data-theme="c">
        <h1>
            Confirm</h1>
    </div>
  
    <div data-role="content">
        @Html.ValidationSummary()
        <div style="font-size: 16px; text-align: center; padding: 15px; font-weight: bold">
            Enter Pinswipe</div>
        <div style="height: 1px; width: 100%; background: #666666">
        </div>
        @using (Html.BeginForm("AddPopupPinswipe", "BankAccounts", FormMethod.Post, new Dictionary<string, object> {{ "id", "pinSwipeForm"}, { "data-transition", "slide-up" } }))
        {       
            <div style="margin-top:15px">
            <input type="password" id="patternlock" name="Pincode" class="patternlock" />
            <input type="submit" value="login" id="pinswipesubmit" />
        </div>
        }
    </div>
</div>
