@{
    ViewBag.Title = "Confirm Delete Account";
    ViewBag.PageID = "confirm-delete-popup-pin-swipe-page";
    ViewBag.Classes = "page";
}
<div id="@ViewBag.PageID" class="@ViewBag.Classes">
 
    <div class="header-pdthx" >
        <h1>
            Confirm</h1>
            <a href="@Url.Content("~/BankAccounts")"  class="hd-btn-left btn-back">Cancel</a>
    </div>
  
    <div class="pd-content">
        @Html.ValidationSummary()
        <div class="top-panel">
            Enter Pinswipe</div>
<div class="pad">
        @using (Html.BeginForm("DeletePopupPinswipe", "BankAccounts", FormMethod.Post, new Dictionary<string, object> {{ "id", "pinSwipeForm"}, { "data-transition", "slide-up" } }))
        {       
Html.RenderPartial("~/Views/Shared/SecurityPIN.cshtml");
        }
    </div>
</div>
</div>
