@{
    ViewBag.Title = "Index";
    ViewBag.PageID = "request-popup-pin-swipe-page";
    ViewBag.Classes = "page";
}
<div id="@ViewBag.PageID" class="@ViewBag.Classes"  >
    
    <div data-role="header" data-position="fixed" class="header-pdthx" >
        <h1>
            Confirm</h1>
            <a href="@Url.Content("~/BankAccounts")"  class="hd-btn-left btn-back">Cancel</a>
    </div>
  
    <div data-role="content">
        <div class="top-panel">

        </div>
        @Html.ValidationSummary()
        @using (Html.BeginForm("EditPopupPinswipe", "BankAccounts", FormMethod.Post, new Dictionary<string, object> {{ "id", "pinSwipeForm"}, { "data-transition", "slide-up" } }))
        {       
            <div style="margin-top:15px">
            <input type="password" id="patternlock" name="Pincode" class="patternlock" />
            <input type="submit" value="login" class="" id="pinswipesubmit" data-role="none" />
        </div>
        }
    </div>
</div>
@section PageScripts
{
<script type="text/javascript">
    $(document).ready(function () {
        pinswipeResizeController.resizePINs();
    });
</script>
}
