@{
    ViewBag.Title = "PaymentAccouunt";
    TempData["DataUrl"] = "data-url=/mobile/BankAccounts/EditPopupPinSwipe";
}
<div data-role="page" id="edit-bankaccounts-pinswipe-page"   >
 
    <div data-role="header" data-position="fixed" class="header-pdthx" >
        <h1>
            Confirm</h1>
    </div>
  
    <div data-role="content">
        @Html.ValidationSummary()
        <div style="font-size: 16px; text-align: center; padding: 15px; font-weight: bold">
            Enter Pinswipe</div>
        <div style="height: 1px; width: 100%; background: #666666">
        </div>
        @using (Html.BeginForm("EditPopupPinswipe", "BankAccounts", FormMethod.Post, new Dictionary<string, object> {{ "id", "pinSwipeForm"}, { "data-transition", "slide-up" } }))
        {       
            <div style="margin-top:15px">
            <input type="password" id="patternlock" name="Pincode" class="patternlock" />
            <input type="submit" value="login" id="pinswipesubmit" data-role="none" />
        </div>
        }
    </div>
      <div id="resizerHack">
        
        
        </div>
</div>
@section PageScripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            function resizePIN() {

                $(".hackstyle").remove();
                var widthy = $(window).width();
                divwidth = widthy * .93;

                $("#resizerHack").append("<div class=\"hackstyle\"><style>div.patternlocklinesdiagonalcontainer { height:" + divwidth + "px ;}div.patternlocklinesverticalcontainer { height:" + divwidth + "px ;}div.patternlocklineshorizontalcontainer { height:" + divwidth + "px ;}div.patternlockbuttoncontainer { height:" + divwidth + "px ;}</div>")

            };

            resizePIN();

            $(window).resize(function () {
                resizePIN();
            });
        });
</script>
}
