@{
    ViewBag.Title = "Confirm Change Preferred Send Account";
    ViewBag.PageID = "bankaccounts-set-send-pinswipe-page";
    ViewBag.Classes = "page";
}
<div id="@ViewBag.PageID" class="@ViewBag.Classes"  >
 
    <div class="header-pdthx" >
        <h1>
            Confirm</h1>
    </div>
  
    <div class="pd-content">
    <div class="top-panel"></div>
    @Html.ValidationSummary()
    <div class="pad">
        @using (Html.BeginForm("SetPreferredSendAccountPinSwipe", "BankAccounts", FormMethod.Post, new Dictionary<string, object> { { "id", "pinSwipeForm" }, { "data-transition", "slide-up" } }))
        {       
Html.RenderPartial("~/Views/Shared/SecurityPIN.cshtml");
        }
    </div>
</div>
</div>
@section PageScripts
{
<script type="text/javascript" src="@Url.Content("~/Scripts/patternlock.js")"></script>
}