@model Mobile_PaidThx.Models.MeCodesModels.AddMeCodeModel
@{
    ViewBag.Title = "Add ME Code";
    ViewBag.PageID = "add-mecode-paypoint-page";
    ViewBag.Classes = "settings";
}
<div data-role="page" id="@ViewBag.PageID" class="@ViewBag.Classes" data-add-back-btn="true" @TempData["DataUrl"]>
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="header-pdthx" data-theme="c">
        <h1>
            Add ME Code</h1>
    </div>
    <div data-role="content" class="panel main-body">
        <div style="margin: 5px; padding: 10px; background-color: #FFFFFF">
         @using (Html.BeginForm("Add", "MeCodes", FormMethod.Post, new Dictionary<string, object> { { "data-transition", "slide-up" }, { "data-ajax", "false" } }))
         {
            @Html.ValidationSummary()
            <p>
                <input type="text" id="txtMeCode" name="MECode" placeholder="$ME Code" 
                required /></p>
            <p>
             <button type="submit" id="btn-add-mecode" data-theme="f" data-icon="check" data-iconpos="right" class="btn-jq">
                  Add ME Code </button></p>
         }
        </div>
    </div>
        <script type="text/javascript">
            $(document).delegate('#add-mecode-paypoint-page', 'pageinit', function () {
                $('#txtMeCode').focus();

                var currentMeCode = "";
                $(this).delegate('#txtMeCode', 'keydown', function () {

                    if (event.keyCode == '52') {
                        event.preventDefault();
                        return;
                    }
                });
                $(this).delegate('#txtMeCode', 'keyup', function () {

                    currentMeCode = $(this).val();

                    if (currentMeCode.charAt(0) != '$')
                        currentMeCode = '$' + currentMeCode;

                    $(this).val(currentMeCode);
                    event.preventDefault();
                });

            });
    </script>
</div>
