@model Mobile_PaidThx.Services.ResponseModels.UserModels.UserPayPointResponse
<div data-role="page" id="paypointinfo-page" @TempData["DataUrl"]>
    @{ Html.RenderPartial("LoggedInMenu"); }
    <div data-role="content" style="margin: 15px;">
    <h1>@Model.Uri</h1>
    <input type="hidden" id="paypointIdValue" value="@Model.Id" />
    Lots of information and chocolate chip cookies on this page.

    <div>
    <button id="removePaypointBtn" style="font-size:15px; margin-left:15px; margin-top:15px; height:50px">Remove This Paypoint</button></div>
    </div>
</div>
