@{
    ViewBag.Title = "Help";
}
<div  id="help-page"  >
  
    <div data-role="header" data-position="fixed" class="header-pdthx"  >
        <h1>
            Help</h1>
       <!--<a href="./Preferences" id="btn-settings" class="top-button ui-btn-right"></a>-->
    </div>
    <div data-role="content" style="height: 100%; width: 100%">
        <object type="text/html" style="height: 100%; width: 100%" data="http://paidthx.zendesk.com/mobile/home">
        </object>
    </div>
</div>
