@model Mobile_PaidThx.Models.EmailsModels.AddEmailAddressModel
<div data-role="page" id="add-email-paypoint-page" data-add-back-btn="true" @TempData["DataUrl"]>
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="header-pdthx" data-theme="c">
        <h1>
            Add Email</h1>
    </div>
    <div data-role="content" class="panel main-body">
        <div style="margin: 5px; padding: 10px; background-color: #FFFFFF">
         @using (Html.BeginForm("Add", "Emails", FormMethod.Post, new Dictionary<string, object> { { "data-transition", "slide-up" }, { "data-ajax", "false" } }))
         {
            @Html.ValidationSummary()
            <p>
                <input type="text" id="txtEmailAddress" name="EmailAddress" placeholder="Email Address"
                required /></p>
            <p>
             <button type="submit" id="btn-add-email" data-theme="f" data-icon="check" data-iconpos="right" class="btn-jq">
                   Add Email Address</button>
</p>
         }
        </div>
    </div>
    <script type="text/javascript">
        $(document).delegate('#add-email-paypoint-page', 'pageinit', function () {
    $('#txtEmailAddress').focus();
    });
    </script>
</div>
