@model Mobile_PaidThx.Models.EmailsModels.AddEmailAddressModel
@{
    ViewBag.Title = "Add Email";
    ViewBag.PageID = "add-email-paypoint-page";
    ViewBag.Classes = "page settings";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes"  >
    
    <div data-role="header" data-position="fixed" class="header-pdthx" >
        <h1>
            Add Email</h1>
            <a href="@Url.Content("~/Emails")"  class="hd-btn-left btn-back">Back</a>
    </div>
    <div data-role="content">
        <div class="pad">
         @using (Html.BeginForm("Add", "Emails", FormMethod.Post, new Dictionary<string, object> { { "data-transition", "slide-up" }, { "data-ajax", "false" } }))
         {
            @Html.ValidationSummary()
            <p>
                <input type="text" id="txtEmailAddress" name="EmailAddress" placeholder="Email Address"
                required /></p>
            <p>
             <button type="submit" id="btn-add-email" data-theme="f" data-icon="check" data-iconpos="right" class="pd-btn green">
                   Add Email Address</button>
</p>
         }
        </div>
    </div>
</div>
@section PageScripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#txtEmailAddress').focus();
        });
    </script>
}
