@model Mobile_PaidThx.Models.EmailsModels.EmailsModel

<div data-role="page" id="email-page" data-add-back-btn="true" @TempData["DataUrl"]>
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="header-pdthx" data-theme="c">
        <h1>
            Email Accounts</h1>
    </div>
    <div data-role="content">
    <div class="pad">
        <ul data-role="listview" data-inset="true">
            @foreach (var payPoint in Model.PayPoints)
            { 
            <li class="settings email">
                <a href="@Url.Content("~/Emails/Details/" + payPoint.Id)">
                   <h2>@payPoint.Uri</h2>
                   <h4>
                    @if (payPoint.Verified)
                    {
                        <text>Verified</text>
                    }
                    else
                    {
                        <text>Not Verified</text>
                    }
                    </h4>
                </a>
            </li>
            }
        </ul>
        <ul data-role="listview" data-inset="true">
            <li class="settings add">
            
            
                    <a href="@Url.Content("~/Emails/Add")">
                   
                    Add Email Address</a></li>
        </ul>
    </div>
    </div>
</div>
