@model Mobile_PaidThx.Models.PhonesModels.AddPhoneModel
@{
    ViewBag.Title = "Add Phone";
    ViewBag.PageID = "add-phone-paypoint-page";
    ViewBag.Classes = "page settings";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes"  >
    
    <div  class="header-pdthx" >
        <h1>
            Add Phone</h1>
            <a href="@Url.Content("~/Phones")"  class="hd-btn-left btn-back">Back</a>
    </div>
    <div class="pd-content">
    @Html.ValidationSummary()
        <div class="pad">
         @using (Html.BeginForm("Add", "Phones", FormMethod.Post, new Dictionary<string, object> { { "data-transition", "slide-up" }, { "data-ajax", "false" } }))
         {
            <p>
                <input type="text" id="txtPhoneNumber" name="PhoneNumber" placeholder="Phone Number"
                required /></p>
            <p>
              <button type="submit" id="btn-add-phone" class="pd-btn green">
                   Add Phone Number</button></p>
         }
        </div>
    </div>
</div>
@section PageScripts
{
    <script type="text/javascript">
                $(document).delegate('#add-phone-paypoint-page', 'pageinit', function () {
                    $('#txtPhoneNumber').focus();
                });
    </script>
}
