@model Mobile_PaidThx.Models.PhonesModels.AddPhoneModel
<div data-role="page" id="add-phone-paypoint-page" data-add-back-btn="true">
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="header-pdthx" data-theme="c">
        <h1>
            Add Phone</h1>
    </div>
    <div data-role="content" class="panel main-body">
        <div style="margin: 5px; padding: 10px; background-color: #FFFFFF">
         @using (Html.BeginForm("Add", "Phones", FormMethod.Post, new Dictionary<string, object> { { "data-transition", "slide-up" }, { "data-ajax", "false" } }))
         {
            @Html.ValidationSummary()
            <p>
                <input type="text" id="txtPhoneNumber" name="PhoneNumber" placeholder="Phone Number"
                required /></p>
            <p>
              <button type="submit" id="btn-add-phone" data-theme="f" data-icon="check" data-iconpos="right" class="btn-jq">
                   Add Phone Number</button></p>
         }
        </div>
    </div>
        <script type="text/javascript">
            $(document).delegate('#add-phone-paypoint-page', 'pageinit', function () {
                $('#txtPhoneNumber').focus();
            });
    </script>
</div>
