<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="jobSchedulingProvider" type="SocialPayments.WindowsServices.SettlementProcessor.CustomConfigurationSectons.JobSchedulingProviderSection, SocialPayments.WindowsServices.SettlementProcessor" />
  </configSections>
  <jobSchedulingProvider SchedulingType="Immediate" SpecificHour="22" SpecificMinutes="30" RepeatCount="100" HourInterval="0" MinuteInterval="22" SecondInterval="0" />
  <appSettings>
    <add key="WebServicesBaseUrl" value="http://23.21.203.171/api/internal/api/"/>
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
