@{
    ViewBag.Title = "Feedback";
}
<div data-role="page" id="profile-page" data-add-back-btn="true">
  @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="header-pdthx" data-theme="c" >
        <h1>
            Feedback</h1>
       <!--<a href="./Preferences" id="btn-settings" class="top-button ui-btn-right"></a>-->
    </div>
    <div data-role="content" style="height: 100%; width: 100%">

    </div>
</div>
