<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Amazon S3 Config-->
    <add key="AWSAccessKey" value="AKIAIKSNRNLLIFLI7AMA"/>
    <add key="AWSSecretKey" value="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"/>
    <add key="NachaFileBucketName" value="NACHAFiles"/>
    
    <add key="CompanyIdentificationNumber" value="1263314390"/>
    <add key="CompanyName" value="VIP Destinations LLC" />
    <add key="ImmediateDestinationId" value="022000046"/>
    <add key="ImmediateDestinationName" value="M&amp;T BANK BUFFALO NY"/>
    <add key="ImmediateOriginId" value="12633314390"/>
    <add key="ImmediateOriginName" value="VIP Destinations LLC" />
    <add key="OriginatingTransitRoutingNumber" value="022000046" />
    <add key="CompanyDiscretionaryData" value="TESTPAYMENT" />
    
  </appSettings>
</configuration>