@model Mobile_PaidThx.Models.SecurityModels.ChangeSecurityPinModel
@{
    ViewBag.Title = "Change Security PIN";
    ViewBag.PageID = "changesecuritypin-page";
}

<div  id="@ViewBag.PageID"  >
        
    <div data-role="header" data-position="fixed" class="header-pdthx" >
        <h1>
            Change PIN</h1>
    </div>
    <div data-role="content">
    <div class="top-panel">
   
        <p>To change your security pin, first swipe your current pin.</p></div>
    <div class="pad">
    @Html.ValidationSummary()
          
        @using (Html.BeginForm("ChangeSecurityPin", "Security", FormMethod.Post, new Dictionary<string, object> {{ "id", "pinSwipeForm"}, { "data-transition", "slideup" } }))
        {       
            <div>
            <input type="password" id="patternlock" name="Pincode" class="patternlock" />
            <input type="submit" value="login" id="pinswipesubmit" data-role="none" />
        </div>
        }
        </div>
    </div>

     <div id="resizerHack">
        


        </div>
</div>
@section PageScripts 
{
    <script type="text/javascript">
        $(document).ready(function () {
            pinswipeResizeController.resizePINs();
        });
</script>
}
