@model Mobile_PaidThx.Models.SecurityModels.ChangeSecurityPinModel

@{
    ViewBag.Title = "Change Security Pin";
}

<div data-role="page" id="changesecuritypin-page" data-add-back-btn="true">
        @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="nav-pdthx" data-theme="c">
        <h1>
            Change Security Pin</h1>
    </div>
    <div data-role="content" style="margin: 15px;">
    @Html.ValidationSummary()
      
        @using (Html.BeginForm("ForgotSecurityPin_PinSwipe", "Security", FormMethod.Post, new Dictionary<string, object> {{ "id", "pinSwipeForm"}, { "data-transition", "slide-up" } }))
        {       
            <div style="margin-top:15px">
            <input type="password" id="patternlock" name="Pincode" class="patternlock" />
            <input type="submit" value="login" id="pinswipesubmit" />
        </div>
        }
    </div>
</div>