@{
    ViewBag.Title = "Index";
}
<div data-role="page" id="security-page" data-add-back-btn="true">
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="header-pdthx" data-theme="c">
        <h1>
            Settings</h1>
    </div>
    <div data-role="content">
        <div style="margin: 5px; padding: 10px; background-color: #FFFFFF">
            
            <ul data-role="listview" data-inset="true">
                <li>
                    <!--Rate PaidThx ( won't be used this version )-->
                    <!-- Separate Set -->
                    <!-- User Agreement -->
                    <a href="@Url.Content("~/Security/ChangePassword")" data-prefetch data-transition="slide">
                    Change Password </a></li>
                <li>
                    <!-- Sign Out -->
                    <a  href="@Url.Content("~/Security/ChangeSecurityPin")" data-prefetch data-transition="slide">
                    Change Security Pin </a></li>
                <li>
                    <!-- Sign Out -->
                    <a  href="@Url.Content("~/Security/ForgotSecurityPin")" data-prefetch data-transition="slide">
                    Forgot Security Pin</a></li>
            </ul>
        </div>
    </div>
</div>
