@{
    ViewBag.Title = "Privacy";
    ViewBag.PageID = "privacy-page";
    ViewBag.Classes = "page";
}
<div id="@ViewBag.PageID" class="@ViewBag.Classes"  >

<div class="pd-content">
    <div class="top-panel">
            
            </div>
            @Html.ValidationSummary()
    <div class="pad">

<h2>Terms of Service</h2>
</div>
</div>
</div>