<!-- Edit Profile -->
<a href="./Profile" data-prefetch>
    <div class="tablesettings" style="margin: 15px">
        <div style="float: left">
            <img alt="profileimg" src=@Url.Content("~/Content/images/icon-settings-profile-40x40.png") width="40px" /></div>
        <div style="float: left; padding-left: 10px; padding-top: 10px">
            Edit Profile</div>
        <div style="float: right; padding-right: 5px; padding-top: 6px">
            <img alt="arrowpng" src=@Url.Content("~/Content/images/arrow.png") /></div>
    </div>
</a>
<!-- Bank Account -->
<a href="./PaymentAccount" data-prefetch>
    <div class="tablesettings" style="margin-bottom: 15px; margin-left: 15px; margin-right: 15px">
        <div style="float: left">
            <img alt="profileimg" src=@Url.Content("~/Content/images/icon-settings-bank-40x40.png") width="40px" /></div>
        <div style="float: left; padding-left: 10px; padding-top: 10px">
            Bank Accounts</div>
        <div style="float: right; padding-right: 5px; padding-top: 6px">
            <img alt="arrowpng" src=@Url.Content("~/Content/images/arrow.png") /></div>
    </div>
</a>
<!-- Separate Set -->
<!-- Email Accounts -->
<a href="./Preferences/Emails" data-prefetch>
    <div class="tabletop" style="margin-left: 15px; margin-right: 15px">
        <div style="float: left">
            <img alt="profileimg" src=@Url.Content("~/Content/images/icon-settings-email-40x40.png") width="40px" /></div>
        <div style="float: left; padding-left: 10px; padding-top: 10px">
            Email Accounts</div>
        <div style="float: right; padding-right: 5px; padding-top: 6px">
            <img alt="arrowpng" src=@Url.Content("~/Content/images/arrow.png") /></div>
    </div>
</a>
<!-- Social Networks -->
<a href="./Preferences/SocialNetworks" data-prefetch>
    <div class="tablemiddle" style="margin-left: 15px; margin-right: 15px">
        <div style="float: left">
            <img alt="profileimg" src=@Url.Content("~/Content/images/icon-settings-social-40x40.png") width="40px" /></div>
        <div style="float: left; padding-left: 10px; padding-top: 10px">
            Social Networks</div>
        <div style="float: right; padding-right: 5px; padding-top: 6px">
            <img alt="arrowpng" src=@Url.Content("~/Content/images/arrow.png") /></div>
    </div>
</a>
<!-- Phones -->
<a href="./Preferences/Phones" data-prefetch>
    <div class="tablemiddle" style="margin-left: 15px; margin-right: 15px">
        <div style="float: left">
            <img alt="profileimg" src=@Url.Content("~/Content/images/icon-settings-phones-40x40.png") width="40px" /></div>
        <div style="float: left; padding-left: 10px; padding-top: 10px">
            Phones</div>
        <div style="float: right; padding-right: 5px; padding-top: 6px">
            <img alt="arrowpng" src=@Url.Content("~/Content/images/arrow.png") /></div>
    </div>
</a>
<!--ME Codes -->
<a href="./Preferences/MeCodes" data-prefetch>
    <div class="tablebottom" style="margin-left: 15px; margin-right: 15px; margin-bottom: 15px">
        <div style="float: left">
            <img alt="profileimg" src=@Url.Content("~/Content/images/icon-settings-mecode-40x40.png") width="40px" /></div>
        <div style="float: left; padding-left: 10px; padding-top: 10px">
            ME Codes</div>
        <div style="float: right; padding-right: 5px; padding-top: 6px">
            <img alt="arrowpng" src=@Url.Content("~/Content/images/arrow.png") /></div>
    </div>
</a>
<!-- Separate Set -->
<!-- Notifications -->
<div class="tabletop" style="margin-left: 15px; margin-right: 15px">
    <div style="float: left">
        <img alt="profileimg" src=@Url.Content("~/Content/images/icon-settings-preferences-40x40.png") width="40px" /></div>
    <div style="float: left; padding-left: 10px; padding-top: 10px">
        Notifications</div>
    <div style="float: right; padding-right: 5px; padding-top: 6px">
        <img alt="arrowpng" src=@Url.Content("~/Content/images/arrow.png") /></div>
</div>
<!-- Sharing -->
<div class="tablemiddle" style="margin-left: 15px; margin-right: 15px">
    <div style="float: left">
        <img alt="profileimg" src=@Url.Content("~/Content/images/icon-settings-sharing-40x40.png") width="40px" /></div>
    <div style="float: left; padding-left: 10px; padding-top: 10px">
        Sharing</div>
    <div style="float: right; padding-right: 5px; padding-top: 6px">
        <img alt="arrowpng" src=@Url.Content("~/Content/images/arrow.png") /></div>
</div>
<!-- Security and Privacy -->
<div class="tablebottom" style="margin-left: 15px; margin-right: 15px; margin-bottom: 15px">
    <div style="float: left">
        <img alt="profileimg" src=@Url.Content("~/Content/images/icon-settings-security-40x40.png") width="40px" /></div>
    <div style="float: left; padding-left: 10px; padding-top: 10px">
        Security & Privacy</div>
    <div style="float: right; padding-right: 5px; padding-top: 6px">
        <img alt="arrowpng" src=@Url.Content("~/Content/images/arrow.png") /></div>
</div>
<!-- Separate Set -->
<!-- Help -->
<a href="./Preferences/Help" data-prefetch>
    <div class="tabletop" style="margin-left: 15px; margin-right: 15px;">
        <div style="float: left">
            <img alt="profileimg" src=@Url.Content("~/Content/images/icon-settings-help-40x40.png") width="40px" /></div>
        <div style="float: left; padding-left: 10px; padding-top: 10px">
            Help</div>
        <div style="float: right; padding-right: 5px; padding-top: 6px">
            <img alt="arrowpng" src=@Url.Content("~/Content/images/arrow.png") /></div>
    </div>
</a>
<!-- Feedback -->
<div class="tablebottom" style="margin-left: 15px; margin-right: 15px; margin-bottom: 15px">
    <div style="float: left">
        <img alt="profileimg" src=@Url.Content("~/Content/images/icon-settings-feedback-40x40.png") width="40px" /></div>
    <div style="float: left; padding-left: 10px; padding-top: 10px">
        Feedback</div>
    <div style="float: right; padding-right: 5px; padding-top: 6px">
        <img alt="arrowpng" src=@Url.Content("~/Content/images/arrow.png") /></div>
</div>
<!--Rate PaidThx ( won't be used this version )-->
<!-- Separate Set -->
<!-- User Agreement -->
<a href="./Preferences/UserAgreement" data-prefetch>
    <div class="tabletop" style="margin-left: 15px; margin-right: 15px">
        <div style="float: left">
            <img alt="profileimg" src=@Url.Content("~/Content/images/icon-settings-legal-40x40.png") width="40px" /></div>
        <div style="float: left; padding-left: 10px; padding-top: 10px">
            User Agreement</div>
        <div style="float: right; padding-right: 5px; padding-top: 6px">
            <img alt="arrowpng" src=@Url.Content("~/Content/images/arrow.png") /></div>
    </div>
</a>
<!-- Sign Out -->
<a onclick="signOut()">
    <div class="tablemiddle" style="margin-left: 15px; margin-right: 15px">
        <div style="float: left">
            <img alt="profileimg" src=@Url.Content("~/Content/images/icon-settings-signout-40x40.png") width="40px" /></div>
        <div style="float: left; padding-left: 10px; padding-top: 10px">
            Sign Out</div>
        <div style="float: right; padding-right: 5px; padding-top: 6px">
            <img alt="arrowpng" src=@Url.Content("~/Content/images/arrow.png") /></div>
    </div>
</a>
<!-- About -->
<div class="tablebottom" style="margin-left: 15px; margin-right: 15px; margin-bottom: 15px">
    <div style="float: left; padding-left: 50px; padding-top: 10px">
        About</div>
    <div style="float: right; padding-right: 5px; padding-top: 6px">
        <img alt="arrowpng" src=@Url.Content("~/Content/images/arrow.png") /></div>
</div>
