<script src="@Url.Content("~/Scripts/signin.js")" type="text/javascript"></script>
<div data-role="page" id="page-signin">
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="header-pdthx" data-theme="c">
        <h1>
            Forgot Password</h1>
    </div>
    <div data-role="content">
                    @{Html.RenderPartial("PartialViews/ForgotPassword");}
    </div>

