@model Mobile_PaidThx.Models.ResetPasswordModel

@{
    ViewBag.Title = "Reset Your Password";
}
<script src="@Url.Content("~/Scripts/signin.js")" type="text/javascript"></script>
<div data-role="page" id="page-signin">
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="header-pdthx" data-theme="c">
        <h1>
            Reset Password</h1>
    </div>
    <div data-role="content">
    @{Html.RenderPartial("PartialViews/ResetPassword");}
    </div>



