@model Mobile_PaidThx.Models.ResetPasswordModelInput

@{
    ViewBag.Title = "PasswordReset";
}

<h2>Reset Password</h2>

<p>
    Use the form below to change your password. 
</p>
<p>
    New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
</p>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
    <form id="resetPassword" method = "post">

    <p>
        @if (Model.HasSecurityQuestion)
        {
            @Model.SecurityQuestion
            <br /><br /><br />
            <input type="text" id="txtAnswer" name="SecurityQuestionAnswer" placeholder="Answer" required />
        }
    </p>

    <p>
        <input type="password" id="txtNewPassword" name="NewPassword" placeHolder="Password" required />
    </p>

    <p>
        <input type="password" id="txtConfirmPassword" name="ConfirmPassword" placeHolder="Confirm Password" required />
    </p>

    <p>
        <button type="submit" id="btnResetPassword" class="imgbtn">Reset Password</button>
    </p>


    </form>
}
