@{
    ViewBag.Title = "VerifyPayPoint";
}

<div data-role="page" id="page-join">
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="header-pdthx" data-theme="c">
        <h1></h1>
       <!--<a href="./Preferences" id="btn-settings" class="top-button ui-btn-right"></a>-->
    </div>
    <div data-role="content">
        @ViewBag.Message
    </div>
</div>