@{
    ViewBag.Title = "Index";
}
<div data-role="page" id="page-about">
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="nav-pdthx" data-theme="c">
        <h1>
            About</h1>
        <a href="./Preferences" id="btn-settings" class="top-button ui-btn-right"></a>
    </div>
    <div data-role="content" style="background-color: #3E7D48">
        <h2>What is PaidThx?</h2>
        <p>PaidThx is a revolutionary way of exchanging money with friends, family and favorite organizations.</p>
        <h2>Watch this:</h2>
        <p>A short video </p>

    </div>
    @{Html.RenderPartial("WelcomeMenu", new Mobile_PaidThx.Models.MenuModel() { SelectedTabIndex = 3, HeaderText = "About" }); }
</div>
