         <div class="list-divider">
            QUICK ADDS</div>
        <div class="quicksend">
            <button id="twentydollarbtnsend" type="submit" class="quickaddbtn-style" name="Amount" value="20" data-amount="20">
                +20</button>
            <button id="tendollarbtnsend" type="submit" class="quickaddbtn-style" name="Amount" value="10" data-amount="10">
                +10</button>
            <button id="fivedollarbtnsend" type="submit" class="quickaddbtn-style" name="Amount" value="5" data-amount="5">
                +5</button>
            <button id="onedollarbtnsend" type="submit" class="quickaddbtn-style" name="Amount" value="1" data-amount="1">
                +1</button>
        </div> 
