            <!-- <img class="img-amount select" src="@Url.Content("~/Content/images/money-active.png")" alt="Amount" /> -->
            <div id="dolla" type="button" class="btn-money">
                $
            </div>

            <input type="text" id="customAmount" placeholder="0.00" name="Amount" />
            
            <button id="gobtn-send2" type="submit" class="btn-the-go">
                Go
            </button>
            
            
            <div style="clear:both;">
            </div>

            <script type="text/javascript">
                $(document).ready(function () {
                    if (isiPhone) {
                        $('#customAmount').attr("pattern", "[0-9]*");
                    }
                });
            </script>