@model Mobile_PaidThx.Models.PaystreamModels.PaystreamModel
@{
    ViewBag.Title = "Paystream";
}
<script src="@Url.Content("~/Scripts/paystream.js")" type="text/javascript"></script>
<div id="container">
    <div id="header">
    <dl id="main-tabs" class="tabs contained" data-role="listview">
        <dd>
            <a href="#simpleContained0"id="tabHome">Home</a></dd>
        <dd>
            <a href="#simpleContained1"id="tabSend">Send $</a></dd>
        <dd>
            <a href="#simpleContained2"id="tabRequest">Request $</a></dd>
        <dd>
            <a href="#simpleContained3" class="active"id="tabPaystream">Paystream</a></dd>
        <dd>
            <a href="#simpleContained4" class="tab-settings"></a></dd>
    </dl>
    </div>
    <div id="content-container">
        <ul class="tabs-content contained">
            <li id="simpleContained1Tab">
                <div id="main-container">
                    @{Html.RenderPartial("PartialViews/SendMoney");}
                    @{Html.RenderPartial("_footer");}
                </div>
            </li>
            <li id="simpleContained0Tab">
                <div id="main-container">
                    @{Html.RenderPartial("../Home/PartialViews/HomePartial");}
                    @{Html.RenderPartial("_footer");}
                </div>
            </li>
            <li id="simpleContained2Tab">
                <div id="main-container">
                    @{Html.RenderPartial("PartialViews/RequestMoney");}
                    @{Html.RenderPartial("_footer");}
                </div>
            </li>
            <li  class="active" id="simpleContained3Tab">
                <div id="main-container3">
                    @{Html.RenderPartial("PartialViews/SubNav", Model);}                    
                    @{Html.RenderPartial("_footer");}
                </div>
            </li>
            <li id="simpleContained4Tab">
                <div id="main-container">
                     @{Html.RenderPartial("../Profile/PartialViews/SubNav", Model.ProfileModel, new ViewDataDictionary());}                    
                     @{Html.RenderPartial("_footer");}
                </div>
            </li>
        </ul>
    </div>
</div>
