@model Mobile_PaidThx.Models.PaystreamModels.PaystreamModel
@{
    ViewBag.Title = "Paystream";
}
<script src="@Url.Content("~/Scripts/paystream.js")" type="text/javascript"></script>
<div data-role="page" id="paystream-index" @TempData["DataUrl"]>
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="header-pdthx" data-theme="c">
        <h1>
            Paystream</h1>
        <a href="@Url.Content("~/Preferences")" id="btn-settings" class="top-button ui-btn-right">
        </a>
    </div>
    <div data-role="content">
        <fieldset id="payment-type-group" data-role="controlgroup" class="fullwidth four-items"
            data-type="horizontal" data-grid="c">
            <input type="radio" name="paystream-choice" id="paystream-all" value="all" checked="checked"
                style="width: 25%" />
            <label for="paystream-all">
                All</label>
            <input type="radio" name="paystream-choice" id="paystream-sent" value="sent" />
            <label for="paystream-sent">
                $ Sent</label>
            <input type="radio" name="paystream-choice" id="paystream-received" value="received" />
            <label for="paystream-received">
                $ Rec.</label>
            <input type="radio" name="paystream-choice" id="paystream-other" value="other" />
            <label for="paystream-other">
                Other</label>
        </fieldset>
        <ul id="paystreamList" data-role="listview" class="ui-listview" data-filter="true" data-filter-placeholder="Type Name of Non Profit">
            
        </ul>
    </div>
    @{Html.RenderPartial("LoggedInMenu", new Mobile_PaidThx.Models.MenuModel() { SelectedTabIndex = 4, HeaderText = "Paystream" }); }
</div>
<script id="paystreamItem" type="text/x-jquery-tmpl">
    <li>
        <a onclick="openOffersDialog('$Id');">
        <span class="trans-type">
        {{if transactionImageUri}}
            <img width="50" height="50" class="rounded" src="${transactionImageUri}" alt="Image" />
        {{else}}
            <img width="50" height="50" class="rounded" src="/mobile/Content/images/avatar.png" alt="Image" />
        {{/if}}
        </span>
        <div class="trans-title">
        {{if direction == "In"}}
            <strong>${senderName}</strong>
        {{/if}}
        {{if direction == "Out"}}
            <strong>${recipientName}</strong>
        {{/if}}
            <div class="title-pay-in">
                <text>You received money</text>
            </div>
        <div class="trans-comment">
            <text>"${comments}"</text>
        </div>
        </div>
        <span class="trans-amount">
            <div class="gray-above">${createDate}</div>
            <div class="paystream-pay-in">
                ${amount}
            </div>
            <div class="gray-out">
                ${messageStatus}
            </div>
        </span></a>
     </li>
</script>
<script language="javascript">

    var paystreamController = (function ($, undefined) {
        var pub = {},
        items = {},
        $this = $(this);

        pub.init = function (listview) {

            //When news updated, display items in list
            $this.unbind("paystream.updated").bind("paystream.updated", function (e, paystreamItems) {
                displayPaystream(paystreamItems);
            });
        };

        pub.searchAndDisplayPaystream = function () {
            //Starting loading animation
            $.mobile.showPageLoadingMsg();

            //Get news and add success callback using then
            searchPayStream(function () {
                //Stop loading animation on success
                $.mobile.hidePageLoadingMsg();
            });
        };

        function searchPayStream(callback) {
            //Get news via ajax and return jqXhr
            $.ajax({
                url: "http://23.21.203.171/api/internal/api/Users/B2610767-8C89-412E-AF96-1D32937C1A43/PaystreamMessages",
                dataType: "json",
                success: function (data, textStatus, xhr) {
                    //Publish that news has been updated & allow
                    //the 2 subscribers to update the UI content
                    items = data;
                    $this.trigger("paystream.updated", $.makeArray(data));

                    if (callback) callback(data);
                }
            });
        }

        function displayPaystream(paystreamItems) {
            //cache the list-view element for later use
            var $listview = $("#paystreamList");

            //Empty current list
            $listview.empty();

            //Use template to create items & add to list
            $("#paystreamItem").tmpl(items).appendTo($("#paystreamList"));

            //Call the listview jQuery UI Widget after adding 
            //items to the list allowing correct rendering
            $("#paystreamList").listview("refresh");
        }

        return pub;
    } (jQuery));
//wait to do event binding until the page is being initialized
    $(document).delegate('[data-role="page"]', 'pageinit', function () {

        //cache the list-view element for later use
        var $listview = $(this).find('[data-role="listview"]');
        
        paystreamController.init();
        paystreamController.searchAndDisplayPaystream();

        //delegate event binding since the search widget is added dynamically
        //bind to the `keyup` event so we can check the value of the input after the user types
        $(this).delegate('input[data-type="search"]', 'keyup', function () {

            var searchVal = $(this).delegate('input[data-type="search"]').val();

            //check to see if there are any visible list-items that are not the `#no-results` element
            if ($listview.children(':visible').not('#no-results').length === 0) {

                //if none are found then fadeIn the `#no-results` element
                $('#no-results').show();
                $('#no-results').fadeIn(500);

            } else {

                //if results are found then fadeOut the `#no-results` element which has no effect if it's already hidden
                $('#no-results').fadeOut(250);
            }
        });

    });
    </script>
