@model Mobile_PaidThx.Models.PaystreamModels.PaystreamModel
@{
    ViewBag.Title = "Paystream";
}
<script src="@Url.Content("~/Scripts/paystream.js")" type="text/javascript"></script>
    <div role="main" data-role="page">
        <div data-role="header" data-position="fixed" class="nav-pdthx" data-theme="c">
			<h1>Stream</h1>
			<a href="Preferences" data-icon="gear" class="ui-btn-right"></a>
            <div data-role="navbar" class="nav-pdthx" data-grid="d">
                <ul>
                    <li><a href="./Home" class="nav-item" id="home" data-icon="custom">Home</a></li>
                    <li><a href="./Request" class="nav-item" id="request" data-icon="custom">Req. $</a></li>
                    <li><a href="./Send" class="nav-item" id="send" data-icon="custom">Send $</a></li>
                    <li><a href="./DoGood" class="nav-item" id="dogood" data-icon="custom">Do Good</a></li>
                    <li><a href="./Paystream" class="nav-item active ui-btn-active" id="paystream" data-icon="custom">Stream</a></li>
                    
                </ul>
            </div>
        </div>
        <div data-role="content">
        <div id="container">
            <div id="content-container">
                @{Html.RenderPartial("PartialViews/SubNav", Model);}                    
                @{Html.RenderPartial("_footer");}
            </div>
        </div>
    </div>
</div>
