
<div data-role="page" id="paystream-pinswipe-page" data-add-back-btn="true" @TempData["DataUrl"]>
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="header-pdthx" data-theme="c">
        <h1>
            Confirm</h1>
    </div>
  
    <div data-role="content">

        <div style="height: 1px; width: 100%; background: #666666; margin-bottom: 15px">
        </div>
        @using (Html.BeginForm("PopupPinswipe", "Paystream", FormMethod.Post, new Dictionary<string, object> {{ "id", "pinSwipeForm"}, { "data-transition", "slide-up" } }))
        {       
            <div style="margin-top:15px">
            <input type="password" id="patternlock" name="Pincode" class="patternlock" />
            <input type="submit" value="login" id="pinswipesubmit" data-role="none" />
        </div>
        }
    </div>
      
  <div id="resizerHack">
        
        
        </div>
<script type="text/javascript">
    $("#paystream-pinswipe-page").unbind('pageshow').bind('pageshow', function () {

    });
</script>

<script type="text/javascript">
    $(document).ready(function () {

        function resizePIN() {

            $(".hackstyle").remove();
            var widthy = $(window).width();
            divwidth = widthy * .93;

            $("#resizerHack").append("<div class=\"hackstyle\"><style>div.patternlocklinesdiagonalcontainer { height:" + divwidth + "px ;}div.patternlocklinesverticalcontainer { height:" + divwidth + "px ;}div.patternlocklineshorizontalcontainer { height:" + divwidth + "px ;}div.patternlockbuttoncontainer { height:" + divwidth + "px ;}</div>")

        };

        resizePIN();

        $(window).resize(function () {
            resizePIN();
        });
    });
</script>
</div>
