@model Mobile_PaidThx.Models.HomeModel
@{
    ViewBag.Title = "About";
}
    <div role="main" data-role="page">
        <div data-role="header" class="nav-pdthx" data-theme="c">
            <div data-role="navbar" class="nav-pdthx" data-grid="d">
                <ul>
                    <li><a href="#" id="home" data-icon="custom">Home</a></li>
                    <li><a href="#" id="request" data-icon="custom">Request $</a></li>
                    <li><a href="#" id="send" data-icon="custom">Send $</a></li>
                    <li><a href="./home/contactus" id="paystream" data-icon="custom">Paystream</a></li>
                    <li><a href="./home/about" id="profile" data-icon="custom">Profile</a></li>
                </ul>
            </div>
        </div>
        <div data-role="content">
<div id="container">
    <div id="content-container">
        <ul class="tabs-content contained">
            <li class="active" id="simpleContained1Tab">
                @{Html.RenderPartial("PartialViews/About");}
                @{Html.RenderPartial("_footer");}
            </li>
            <li id="simpleContained2Tab">
                @{Html.RenderPartial("PartialViews/ContactUs", Model.ContactUsModel);}
                @{Html.RenderPartial("_footer");}
            </li>
            <li id="simpleContained3Tab">
                @{Html.RenderPartial("PartialViews/PrivacyPolicy");}
                @{Html.RenderPartial("_footer");}
            </li>
        </ul>
    </div>
</div>
</div>
</div>