@{
    ViewBag.Title = "Index";
}
<div data-role="page">
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="nav-pdthx" data-theme="c">
        <h1>
           Welcome</h1>
       <!--<a href="./Preferences" id="btn-settings" class="top-button ui-btn-right"></a>-->
    </div>
    <div data-role="content" style="background-color: #3E7D48">
        <div style="margin: 5px; padding: 10px; background-color: #FFFFFF">
            @if (Model.Payment != null)
            {
                <text>
                <h2>@Model.Payment.Sender has sent you @String.Format("{0:C}", Model.Payment.Amount).</h2>
                @if (!String.IsNullOrEmpty(Model.Payment.Comments))
                {
                    <div class="thought"> <p>@Model.Payment.Comments</p> <span class="arrow"></span>
                </div>
                }
                <p>
                    To accept this payment, signup for your PaidThx account. It's safe, secure and free!</p>
                </text>
            }
            else
            {
                
                <h4 style="font-size: 26px; text-align: center; margin-bottom: 15px">
                    Welcome to PaidThx!</h4>
                <h6 style="text-align: center; width: 60%; margin-left: 20%">
                    The fastest, easiest, safest way to exchange money with friends, family, and your
                    favorite organizations.</h6>
            <div style="font-size: 14px; font-weight: bold; margin-top: 15px; text-align:center;margin-bottom: 15px">
                Join or Sign in Below:</div>
            <a href="./Join">
                <button type="button" id="join" class="btn-new btn-green">
                    <span>Join (It's Free!)</span></button></a>
            <div style="margin-bottom: 15px">
            </div>
            <a href="./SignIn">
                <button type="button" id="signin" class="btn-new btn-blue">
                   <span>Sign In</span></button></a>
        </div>
    </div>
     @{Html.RenderPartial("WelcomeMenu", new Mobile_PaidThx.Models.MenuModel() { SelectedTabIndex = 0, HeaderText = "Welcome" }); }
</div>
