
<script src="@Url.Content("~/Scripts/register.js")" type="text/javascript"></script>

    <div role="main" data-role="page">
        <div data-role="header" data-position="fixed" class="nav-pdthx" data-theme="c">
			<h1>Home</h1>
			<a href="index.html" data-icon="gear" class="ui-btn-right"></a>
<<<<<<< HEAD
            <div data-role="navbar" class="nav-pdthx" data-grid="d">
=======
		</div>
        <div data-role="header" class="nav-pdthx" data-theme="c">
<<<<<<< HEAD
		    <div data-role="navbar"class="nav-pdthx" data-grid="d">
		        <ul>
		            <li><a href="#"id="welcome" class="preNav" data-icon="custom">Welcome</a></li>
		            <li><a href="#"id="signin" class="preNav" data-icon="custom">Sign-in</a></li>
		            <li><a href="#"id="about" class="preNav" data-icon="custom">About</a></li>
		        </ul>
		    </div>
		</div>>
=======
           <!-- <div data-role="navbar" class="nav-pdthx" data-grid="d">
>>>>>>> upstream/development
                <ul>
                    <li><a href="Welcome" id="home" data-icon="custom">Welcome</a></li>
                    <li><a href="Request" id="request" data-icon="custom">Join</a></li>
                    <li><a href="Send" id="send" data-icon="custom">Sign On</a></li>
                    <li><a href="Paystream" id="paystream" data-icon="custom">About</a></li>
                </ul>
            </div>-->
        </div>
>>>>>>> upstream/development
        <div data-role="content">
            <input type="hidden" id="mobileNumber" name="MobileNumber" value="" />
            <div id="container">
                <dl class="tabs contained">
                    <dd>
                        <a href="#simpleContained1" class="active">Home</a></dd>
                    <dd>
                        <a href="#simpleContained2">Send $</a></dd>
                            <dd>
                        <a href="#simpleContained2">Req. $</a></dd>
                            <dd>
                        <a href="#simpleContained2">Stream</a></dd>
                </dl>
                <ul class="tabs-content contained">
                    <li class="active" id="simpleContained1Tab">
                        @{Html.RenderPartial("PartialViews/HomePartial");}
                    </li>
                </ul>
            </div>
        </div>
    </div>
