@{
    ViewBag.Title = "Index";
}
<div data-role="page">
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="nav-pdthx" data-theme="c">
        <h1>
           <img src="@Url.Content("~/Content/images/logo.png")" /></h1>
       <!--<a href="./Preferences" id="btn-settings" class="top-button ui-btn-right"></a>-->
    </div>
    <div data-role="content" style="background-color: #3E7D48">
        <div style="margin: 5px; padding: 10px; background-color: #FFFFFF">
                <h4 style="font-size: 26px; text-align: center; margin-bottom: 15px">
                    Welcome to PaidThx!</h4>
                <h6 style="text-align: center; width: 80%; margin-left: 10%">
                    The fastest, easiest way to exchange money with friends, family, and your
                    favorite organizations.</h6>
            <div style="font-size: 14px; font-weight: bold; margin-top: 15px; text-align:center;margin-bottom: 15px">
                Join or Sign in Below:</div>
            <a id="join" class="btn-new btn-green" href="@Url.Content("~/Join")">
                Join (It's Free!)</a>
            <div style="margin-bottom: 15px">
            </div>
            <a id="signin" class="btn-new btn-blue" href="@Url.Content("~/SignIn")">
                Sign In</button></a>
        </div>
    </div>
     @{Html.RenderPartial("WelcomeMenu", new Mobile_PaidThx.Models.MenuModel() { SelectedTabIndex = 0, HeaderText = "Welcome" }); }
</div>
