   @{
    ViewBag.Title = "Index";
}
    <div data-role="page">
       @{Html.RenderPartial("WelcomeMenu", new Mobile_PaidThx.Models.MenuModel() { SelectedTabIndex = 0, HeaderText = "Welcome" }); }
        <div data-role="content">
            <h4>Welcome to PaidThx!</h4>

            <h6>The fastest, easiest, safest way to exchange money with friends, family, and your favorite organizations.</h6>
            

            <p>Join or Sign in Below:</p>
            <button type="button" id="signin-submit" class="imgbtn"><img src="@Url.Content("~/Content/images/checkmark-btn-icon.png")" alt="" /><span>I'm new to PaidThx</span></button>
             <button type="button" id="signin-submit" class="imgbtn"><img src="@Url.Content("~/Content/images/checkmark-btn-icon.png")" alt="" /><span>I already use PaidThx</span></button>
        </div>
    </div>
