@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<ul>
    <li><input type="text" id="txtMobileNumber" maxlength="12" /></li>
    <li><input type="text" id="txtPassword" maxlength="20" /></li>
    <li><input type="text" id="txtAmount" maxlength="8" /></li>
    <li><input type="text" id="txtComments" maxlength="8" /></li>
</ul>
