@{
    ViewBag.Title = "Index";
}
<div data-role="page" id="dogood-page">
@{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="nav-pdthx" data-theme="c">
        <h1>
            Do Good</h1>
       <a href="@Url.Content("~/Preferences")" id="btn-settings" class="top-button ui-btn-right"></a>
    </div>
  
    <div data-role="content" class="content-margin">
        <div>
            <span style="font-size: 16px; font-weight: bold; color: #525252;">Make a donation or
                gift to a non-profit organization. As always, 100% of your generosity goes to the
                organization.</span> 
                <a href="@Url.Content("~/Donate")" data-prefetch data-transaction="slide">
                    <button type="button" class="btn-jq" data-theme="f" style="margin-top: 10px">
                        <span id="donate-button">Give To A Cause</span></button></a>
        </div>
        <div style="height: 1px; background-color: #C9C9C9; width: 98%; margin-left: 10px;
            margin-right: 10px">
        </div>
        <div>
            <span style="font-size: 16px; font-weight: bold; color: #525252;">Accept pledges and
                charitable donations on behalf of your organization wherever you may be with just
                an e-mail or phone #.</span> <a href="@Url.Content("~/Pledge")"  data-prefetch data-transaction="slide">
                    <button type="button" class="btn-jq" data-theme="b" style="margin-top: 10px">
                        <span id="donate-button">Accept A Pledge</span></button></a></div>
    </div>
    @{Html.RenderPartial("LoggedInMenu", new Mobile_PaidThx.Models.MenuModel() { SelectedTabIndex = 3, HeaderText = "Do Good" }); }
</div>
