         <div data-role ="dialog" data-theme="c">
                   <div data-role="content">
                        <p>This is the about page.</p>
                        <a href ="#" data-rel="back" data-role="button">Ok</a>
                   </div>
               </div>