<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Amazon S3 Config-->
    <add key="AWSAccessKey" value="AKIAIKSNRNLLIFLI7AMA"/>
    <add key="AWSSecretKey" value="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"/>
    <add key="NachaFileBucketName" value="NACHAFiles"/>
    
    <add key="CompanyIdentificationNumber" value="1263314390"/>
    <add key="CompanyName" value="VIP Destinations LLC"/>
    <add key="ImmediateDestinationId" value="022000046"/>
    <add key="ImmediateDestinationName" value="M&amp;T BANK BUFFALO NY"/>
    <add key="ImmediateOriginId" value="12633314390"/>
    <add key="ImmediateOriginName" value="VIP Destinations LLC"/>
    <add key="OriginatingTransitRoutingNumber" value="022000046"/>
    <add key="CompanyDiscretionaryData" value="TESTPAYMENT"/>

    <add key="WebServicesBaseUrl" value="http://23.21.203.171/api/internal/api/"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
