<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="file1" xsi:type="File"
    layout="${longdate} ${logger} ${message}"
    fileName="${basedir}/logs/${shortdate}/${level}.log" />
    <target name="file2" xsi:type="File"
        layout="${longdate} ${logger} ${message} ${stacktrace}"
        fileName="${basedir}/logs/${shortdate}/${level}.log" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" maxlevel="Info" writeTo="file1" />
    <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="file2" />
  </rules>
</nlog>