@model Mobile_PaidThx.Models.SecurityQuestionModel
@{
    ViewBag.Title = "SecurityQuestion";
}

<h2>SecurityQuestion</h2>

<div data-role="page" id="personalize-page">
    <div data-role="header" data-position="fixed" class="nav-pdthx" data-theme="c">
	    <h1>Add a Security Questions</h1>
    </div>
    <div data-role="content">
     @Html.ValidationSummary(true, "Personalize was unsuccessful. Please correct the errors and try again.")
    <div class="top-panel">
   
    <p>Select and answer a security question below in case you forget your security pin.</p></div>
        @using (Html.BeginForm())
        {
            @Html.DropDownList("SecurityQuestionId", new SelectList(Model.SecurityQuestions, "Id", "Question", Model.SecurityQuestionId), new Dictionary<string, object>{{ "id", "pinSwipeForm"}, { "data-transition", "pop" }})
            @Html.TextBoxFor(m => m.SecurityQuestionAnswer)

            <button type="submit" class="btn-new btn-green">Complete Set Up</button>
        }
    </div>
</div>