@{
    ViewBag.Title = "SetupPinSwipe";
}

<div data-role="page" id="setup-pin-swipe" class="modally">
     <div data-role="header" data-position="fixed" class="nav-pdthx" data-theme="c">
	    <h1>Confirm Pin</h1>
    </div>
    <div data-role="content">
        <div class="top-panel">
    To complete setting up your account, create a security pin by connecting at least 4 buttons below.
</div>
        @using (Html.BeginForm("SetupPinSwipe", "Register", FormMethod.Post, new Dictionary<string, object>{{ "id", "pinSwipeForm"}, { "data-transition", "slideup" }}))
        {
         <div>
            <input type="password" id="patternlock" name="PinCode" class="patternlock" />
            <input type="submit" value="login" id="pinswipesubmit" />
         </div>
        }
        </div>

</div>
