@model Mobile_PaidThx.Services.ResponseModels.UserModels.UserPayPointResponse
<div data-role="page" id="paypointinfo-page">
    @{ Html.RenderPartial("LoggedInMenu"); }
    <div data-role="content" style="margin: 15px;">
        @if (Model.Type.Equals("Phone"))
        {
            <h1>
                Add New Phone Number</h1>
        }
        @if (Model.Type.Equals("Email"))
        {
            <h1>
                Add New E-mail</h1>
        }
        @if (Model.Type.Equals("MeCode"))
        {
            <h1>
                Add New MeCode</h1>
        }
        <input type="hidden" id="paypointType" value="@Model.Uri"/>
        <input type="text" id="paypointName" />
        <div>
            <button id="addPaypointBtn" style="font-size: 15px; margin-left: 15px; margin-top: 15px;
                height: 50px">
                Add @Model.Type</button></div>
    </div>
</div>
