@{
    ViewBag.Title = "Index";
}
<div data-role="page" id="preferences-page">
    @{ Html.RenderPartial("LoggedInMenu"); }
    <div data-role="content">
        @{Html.RenderPartial("PartialViews/ListSettings");}
    </div>
</div>
