@{
    ViewBag.Title = "Index";
}
<div data-role="page" id="profile-page">
    <div data-role="header" data-position="fixed" class="nav-pdthx" data-theme="c">
        <h1>
            User Agreement</h1>
        <a onclick="returnPref()" id="btn-settings" class="top-button ui-btn-right"></a>
        <div data-role="navbar" class="nav-pdthx" data-grid="d">
            <ul>
                <li><a onclick="returnHome()" class="nav-item" id="home" data-icon="custom">Home</a></li>
                <li><a onclick="returnRequest()" class="nav-item" id="request" data-icon="custom">Req.
                    $</a></li>
                <li><a onclick="returnSend()" class="nav-item" id="send" data-icon="custom">Send $</a></li>
                <li><a onclick="returnDoGood()" class="nav-item" id="dogood" data-icon="custom">Do Good</a></li>
                <li><a onclick="returnPaystream()" class="nav-item" id="paystream" data-icon="custom">
                    Stream</a></li>
            </ul>
        </div>
    </div>
    <div data-role="content">
        <br />
        <span style="font-weight: bold">USER AGREEMENT</span>
        <p>
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text</p>
        <p>
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text</p>
        <p>
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text
        </p>
    </div>
</div>
