@{
    ViewBag.Title = "Index";
}
<div data-role="page" id="profile-page">
    @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="nav-pdthx" data-theme="c">
        <h1>
            Terms of Service</h1>
       <!--<a href="./Preferences" id="btn-settings" class="top-button ui-btn-right"></a>-->
    </div>
    <div data-role="content">
        <br />
        <span style="font-weight: bold">USER AGREEMENT</span>
        <p>
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text</p>
        <p>
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text</p>
        <p>
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text
        </p>
    </div>
</div>
