@{
    ViewBag.Title = "Index";
}
<div data-role="page" id="profile-page">
    @{ Html.RenderPartial("LoggedInMenu"); }
    <div data-role="content" style="background-color: #3E7D48">
        <div style="margin: 5px; padding: 10px; background-color: #FFFFFF">
            <span style="font-weight: bold">USER AGREEMENT</span>
            <p>
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text</p>
            <p>
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text</p>
            <p>
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text
            </p>
        </div>
    </div>
</div>
