@{
    ViewBag.Title = "Index";
}
<div data-role="page" id="profile-page">
   @{ Html.RenderPartial("LoggedInMenu"); }
    <div data-role="content">
        <br />
        <span style="font-weight: bold">USER AGREEMENT</span>
        <p>
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text</p>
        <p>
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text</p>
        <p>
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text text text text text text text text text
            text text text text text text text text
        </p>
    </div>
</div>
