<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings>
    <!--<add name="DataContext" connectionString="Data Source=23.21.203.171,1435\EC2SQLEXPRESS;Initial Catalog=PdThx;Persist Security Info=True;User ID=sa;Password=james123" providerName="System.Data.SqlClient" />-->
    <add name="DataContext" connectionString="Data Source=.;Initial Catalog=PdThx;Persist Security Info=True;User ID=sa;Password=james123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="APIKey" value="BDA11D91-7ADE-4DA1-855D-24ADFE39D174" />
    <add key="AWSAccessKey" value="AKIAIKSNRNLLIFLI7AMA" />
    <add key="AWSSecretKey" value="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" />
    <!-- Amazon Topics -->
    <add key="PaymentPostedTopicARN" value="arn:aws:sns:us-east-1:102476399870:SocialPaymentNotifications" />
    <add key="PaymentRequestPostedTopicARN" value="arn:aws:sns:us-east-1:102476399870:PaymentRequests" />
    <add key="UserPostedTopicARN" value="arn:aws:sns:us-east-1:102476399870:PostedUsers_Beta" />

    <add key="DefaultMemberIcon" value="http://images.paidthx.com/assets/contact-icon.gif"/>
    <add key="DefaultBankIcon" value="http://images.paidthx.com/bankicons/bank.png"/>
	<add key ="fromEmailAddress" value="notify@paidthx.com"/>
    <add key="fbAppId" value="332189543469634" />
    <add key="fbAppSecret" value="628b100a8e6e9fd8278406a4a675ce0c" />
    <add key="fbTokenRedirectURL" value="http://23.21.203.171/mobile/SignInWithFacebook/" />
	 <add key="MobileWebSetURL" value="http://localhost/mobile/" />

  </appSettings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.elasticemail.com" port="2525" userName="notify@paidthx.com" password="20a00674-374b-4190-81ee-8fb96798a69c" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <customErrors mode="Off" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>