<div id="chooseamountbody" style="margin-top: -12px; margin-left: -22px; margin-right: -26px;
    margin-bottom: -40px">
    <div class="paystream-header-title">
        Your Paystream</div>
    <div style="height: 1px; background: #B0B0B0">
    </div>
    <div class="fieldamount" style="height:50px" id="amount-body"> 
        <div id="custom-amount-field" style="float:left; padding-left:50px; padding-top:3px">
            <input type="text" id="customAmount" style="width:195px" />
        </div>
        <div id="gobtn" style="float:right; padding-top:8px; color:#FFFFFF">Go</div>
    </div>
    <div style="background: #7D7D7D; color: #FFFFFF; font-weight: bold; padding: 5px">
        QUICK SEND AMOUNTS</div>
    <div class="quicksend">
        <span id="onedollarbtn">
            <img alt="onedollar" src=@Url.Content("~/Content/images/btn-quickadd.png") style="padding-right:5px; height:48px; width:22%"/>
            <h10>$1</h10>
        </span><span id="fivedollarbtn">
            <img alt="fivedollar" src=@Url.Content("~/Content/images/btn-quickadd.png") style="padding-right:5px; height:48px; width:22%"/>
            <h11>$5</h11>
        </span><span id="tendollarbtn">
            <img alt="tendollar" src=@Url.Content("~/Content/images/btn-quickadd.png") style="padding-right:5px; height:48px; width:22%"/>
            <h12>$10</h12>
        </span><span id="twentydollarbtn">
            <img alt="twentydollar" src=@Url.Content("~/Content/images/btn-quickadd.png") style="padding-right:5px; height:48px; width:22%"/>
            <h13>$20</h13>
        </span>
    </div>
    <div style="background: #7D7D7D; color: #FFFFFF; font-weight: bold; padding: 5px">
        AVAILABLE TO SEND TODAY</div>
    <div class="availableamt">
        $40.00</div>
    <div style="background: #000000; height: 1px">
    </div>
    <div id="onetothree" style="background: #D4D4D4; height: 76px">
        <div class="boxnumber" id="pressedbtnone" style="float: left">
            <span style="font-size: 25px">1</span></div>
        <div class="boxnumber" id="pressedbtntwo" style="float: left">
            <span style="font-size: 25px">2</span>
            <div style="font-size: 12px; font-weight: lighter; position: absolute; top: 35px;
                left: 38%">
                A B C
            </div>
        </div>
        <div class="boxnumber" id="pressedbtnthree" style="float: left">
            <span style="font-size: 25px">3</span>
            <div style="font-size: 12px; font-weight: lighter; position: absolute; top: 35px;
                left: 38%">
                D E F
            </div>
        </div>
    </div>
    <div id="fourtosix" style="background: #D4D4D4; height: 76px">
        <div class="boxnumber" id="pressedbtnfour" style="float: left">
            <span style="font-size: 25px">4</span>
            <div style="font-size: 12px; font-weight: lighter; position: absolute; top: 35px;
                left: 38%">
                G H I
            </div>
        </div>
        <div class="boxnumber" id="pressedbtnfive" style="float: left">
            <span style="font-size: 25px">5</span>
            <div style="font-size: 12px; font-weight: lighter; position: absolute; top: 35px;
                left: 38%">
                J K L
            </div>
        </div>
        <div class="boxnumber" id="pressedbtnsix" style="float: left">
            <span style="font-size: 25px">6</span>
            <div style="font-size: 12px; font-weight: lighter; position: absolute; top: 35px;
                left: 38%">
                M N O
            </div>
        </div>
    </div>
    <div id="seventonine" style="background: #D4D4D4; height: 76px">
        <div class="boxnumber" id="pressedbtnseven" style="float: left">
            <span style="font-size: 25px">7</span>
            <div style="font-size: 12px; font-weight: lighter; position: absolute; top: 35px;
                left: 34%">
                P Q R S
            </div>
        </div>
        <div class="boxnumber" id="pressedbtneight" style="float: left">
            <span style="font-size: 25px">8</span>
            <div style="font-size: 12px; font-weight: lighter; position: absolute; top: 35px;
                left: 38%">
                T U V
            </div>
        </div>
        <div class="boxnumber" id="pressedbtnnine" style="float: left">
            <span style="font-size: 25px">9</span>
            <div style="font-size: 12px; font-weight: lighter; position: absolute; top: 35px;
                left: 34%">
                W X Y Z
            </div>
        </div>
    </div>
    <div id="zeroaccept" style="background: #D4D4D4; height: 76px">
        <div class="boxgray" style="float: left">
        </div>
        <div class="boxnumber" id="pressedbtnzero" style="float: left">
            <span style="font-size: 25px">0</span>
        </div>
        <div class="boxgray" style="float: left">
        </div>
    </div>
</div>
