<script src="@Url.Content("~/Scripts/request-money.js")" type="text/javascript"></script>
<div class="paystream-header-title" style="margin-left: -11px; margin-right: -11px">
    Request Money</div>
<div style="height: 1px; background: #B0B0B0; margin-left: -11px; margin-right: -11px;
    margin-bottom: 15px">
</div>

<div id="main-body-request" class="panel" style="margin-left:-11px; margin-right:-11px"> 
    <h2>
        Request Money</h2>
    <form id="frmRequestMoney" action="@Url.Content("~/Profile/RequestMoney")" method="post">
    <p>
        <label for="txtSendTo">
            Request To:</label>
        <div id="writeuserbtn">
            <input type="text" id="txtSendTo" name="RecipientUri" style="width: 185px" placeholder="Name, email or phone #"
                required /></div>
    </p>
    <p>
        <label for="clickamountbtn" style="font-size: 16px">
            Request Amount:</label>
        <div onclick="chooseAmountRequest()" class="clickamountbtn">
            <span id="amount-request">Select amount</span></div>
    </p>
    <p>
        <label for="txtComments" style="margin-bottom: 15px">
            Notes/Messages:</label>
        <textarea name="Comments" id="txtComments" rows="10" cols="100" placeholder="Enter notes, comments, etc"
            required></textarea>
    </p>
    <p>
        <button type="submit" id="btnRequestMoney" class="imgbtn">
            <img src="@Url.Content("~/Content/images/request-money-button-icon.png")" alt="" /><span>Request
                Money Now</span></button>
    </p>
    </form>
</div>
