@model Mobile_PaidThx.Models.PaystreamModels.PaystreamModel
<dl id="sub-nav" class="tabs">
  <dd><a href="#subNav1" class="active"><span id="all">All</span></a></dd>
  <dd><a href="#subNav2"><span id="payments">Sent $</span></a></dd>
  <dd><a href="#subNav3"><span  id="requests">Received $</span></a></dd>
  <dd><a href="#subNav4"><span id="alerts">Requests</span></a></dd>
</dl>
<div id="content-sub-nav">
    <ul class="tabs-content">
        <li id="subNav1Tab" class="active">
              @{Html.RenderPartial("../Paystream/PartialViews/All", Model);}
        </li>
        <li id="subNav2Tab">
            @{Html.RenderPartial("../Paystream/PartialViews/Payments", Model);}
        </li>
        <li id="subNav3Tab">
            @{Html.RenderPartial("../Paystream/PartialViews/PaymentRequests", Model);}
        </li>
        <li id="subNav4Tab">
            @{Html.RenderPartial("../Paystream/PartialViews/Alerts", Model);}
        </li>
    </ul>
</div>