@model Mobile_PaidThx.Models.PaystreamModels.PaystreamModel
  <div class="ui-body-c ui-body">
     <div id="subTabs"data-role="controlgroup" data-type="horizontal" data-mini="true">
        <a href="#"id="all"data-role="button">All</a>
        <a href="#"id="sent"data-role="button">Sent $</a>
        <a href="#"id="request"data-role="button">Request</a>
        <a href="#"id="received"data-role="button">Received</a>
      </div>
  </div>
<div id="content-sub-nav">
    <ul class="tabs-content">
        <li id="subNav1Tab" class="active">
              @{Html.RenderPartial("../Paystream/PartialViews/All", Model);}
        </li>
        <li id="subNav2Tab">
            @{Html.RenderPartial("../Paystream/PartialViews/Payments", Model);}
        </li>
        <li id="subNav3Tab">
            @{Html.RenderPartial("../Paystream/PartialViews/PaymentRequests", Model);}
        </li>
        <li id="subNav4Tab">
            @{Html.RenderPartial("../Paystream/PartialViews/Alerts", Model);}
        </li>
    </ul>
</div>