@{
    ViewBag.Title = "AddContactRequest";
}
<div data-role="page" id="request-page">
    <div data-role="header" data-position="fixed" class="nav-pdthx" data-theme="c">
        <h1>
            Request $</h1>
        <a href="./Preferences" id="btn-settings" class="top-button ui-btn-right"></a>
        <div data-role="navbar" class="nav-pdthx" data-grid="d">
            <ul>
                <li><a href="./Home" class="nav-item" id="home" data-icon="custom">Home</a></li>
                <li><a href="./Request" class="nav-item active ui-btn-active" id="request" data-icon="custom">
                    Req. $</a></li>
                <li><a href="./Send" class="nav-item" id="send" data-icon="custom">Send $</a></li>
                <li><a href="./DoGood" class="nav-item" id="dogood" data-icon="custom">Do Good</a></li>
                <li><a href="./Paystream" class="nav-item" id="paystream" data-icon="custom">Stream</a></li>
            </ul>
        </div>
    </div>
    <div data-role="content">
        <div style="font-size: 16px; text-align: center; padding: 15px; font-weight: bold">
            Choose Contact</div>
        <div style="height: 1px; width: 100%; background: #666666">
        </div>
        <div style="font-size: 16px; margin-left: 10px; margin-top: 10px">
            Enter your contact's
        </div>
        <div data-role="fieldcontain" style="margin-left: 10px">
            <label for="email">
                <span style="font-weight: bold">E-mail:</span></label>
            <input type="text" name="email" id="email" value="" />
        </div>
        <div style="font-style: italic; font-size: 16px; margin-left: 15px">
            OR</div>
        <div data-role="fieldcontain" style="margin-left: 10px">
            <label for="phonenumber">
                <span style="font-weight: bold">Phone #:</span></label>
            <input type="text" name="phonenumber" id="phonenumber" value="" />
        </div>
        <div style="font-style: italic; font-size: 12px; margin-left: 10px">
            <span style="font-weight: bold">Note</span>: Entering both contact's phone number/email
            will result in sending the payment to your contact's <span style="font-weight: bold">
                phone number</span>.
        </div>
        <button id="submitContactRequest" type="button" style="padding: 10px; font-size: 18px;
            margin: 15px">
            Submit Contact</button>
    </div>
</div>
