@{
    ViewBag.Title = "AddContactRequest";
}
<div data-role="page" id="request-page" class="modally">
  @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="nav-pdthx" data-theme="c">
        <h1>
            Enter Recipient</h1>
      <!-- <a href="./Preferences" id="btn-settings" class="top-button ui-btn-right"></a>-->
    </div>
    <div data-role="content" class="content">
          @using (Html.BeginForm("AddContactRequest", "Request", FormMethod.Post, new Dictionary<string, object> { { "data-transition", "slide" } }))
           {
            
        <div style="font-size: 16px; margin-left: 10px; margin-top: 10px">
            Enter your contact's
        </div>
        <div data-role="fieldcontain" style="margin-left: 10px">
            <label for="email-send">
                <span style="font-weight: bold">E-mail or Mobile #:</span></label>
            <input type="text" name="RecipientUri" id="email-send" value="" />
        </div>
         <button type="submit" id="submitContactSend2" class="btn-new btn-blue">
                   <span>Confirm Contact</span></button>
           }
    </div>
    @{ Html.RenderPartial("LoggedInMenu"); }
</div>
