@{
    ViewBag.Title = "How Much?";
    ViewBag.PageID = "request-amount-select-page";
    ViewBag.Classes = "page full";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes"  >

    <div  class="header-pdthx" >
        <h1>
            How Much?</h1>
             <a href="@Url.Content("~/Request")"  class="hd-btn-left btn-back history">Back</a>
    </div>

    <div class="pd-content">
    <div class="pad">

    @using (Html.BeginForm("AmountToRequest", "Request", FormMethod.Post))
    {
            
   Html.RenderPartial("~/Views/Shared/SelectAmount.cshtml");
    }
    @using (Html.BeginForm("AmountToRequest", "Request", FormMethod.Post))
    {
        Html.RenderPartial("~/Views/Shared/QuickAdds.cshtml");
    }
    </div>
    </div>
</div>
    @section PageScripts{
        <script type="text/javascript" src="@Url.Content("~/Scripts/amounttosend.js")"></script>

    }