@{
    ViewBag.Title = "Index";
}
<div id="request-page" data-role="page">
@{ Html.RenderPartial("LoggedInMenu"); }
    <div data-role="content">
        <ul class="tabs-content contained">
            <li class="active" id="simpleContained1Tab">
                @{Html.RenderPartial("PartialViews/RequestMoney");}
            </li>
        </ul>
    </div>
</div>
