@model Mobile_PaidThx.Models.ProfileModels
<div id="main-body" class="panel">
    <form id="frmSendMoney" action="@Url.Content("~/Profile/SendMoney")" method="post">
    <p>
        <label for="txtSendTo">
            Send To:</label>
        <input type="text" id="txtSendTo" name="RecipientUri" placeholder="Name, email or phone #"
            required />
    </p>
    <p>
        <label for="txtAmount">
            Amount to Send:</label>
        <a href="./Send/AmountToSend" data-prefetch>
           <button type="button" class="imgbtn field-btn" >
        <span class="imgbg">
                <img src="@Url.Content("~/Content/images/field-money-icon.png")" alt="" /></span><span
                    id="amount-send">Select Amount</span>
                 
                    
                    </button></a>   
    </p>
    <p>
        <label for="txtComments" style="margin-bottom: 15px">
            Comments:</label>
        <textarea name="Comments" id="txtComments" rows="10" cols="100" placeholder="Enter notes, comments, etc"
            required></textarea>
    </p>
    <p>
        <input type="image" id="btnSendMoney" src="@Url.Content("~/Content/images/send_money_button.gif")" />
    </p>
    </form>
</div>
<div id="chooseAmountSendOverlay" class="overlay">
</div>
<div id="#amountbody-send" class="paystream-dialog">
    <div style="font-size: 16px; text-align: center; padding: 15px; font-weight: bold">
        Choose Amount</div>
    <div style="height: 1px; width: 100%; background: #666666">
    </div>
    <div class="fieldamount" style="height: 50px;" id="amount-body">
        <div id="custom-amount-field" style="float: left; padding-left: 47px; padding-top: 5px">
            <input type="text" id="customAmountSend" style="width: 195px; margin-right: -19px;
                float: left" />
        </div>
        <button id="gobtn-send" style="position: absolute; left: 270px; padding-top: 8px;
            color: #FFFFFF">
            Go
        </button>
    </div>
    <div style="background: #7D7D7D; color: #FFFFFF; font-weight: bold; padding: 5px">
        QUICK SEND AMOUNTS</div>
    <div class="quicksend" style="width: 100%; margin: -5px">
        <button id="onedollarbtnsend" type="button" class="quickaddbtn-style">
            $1</button>
        <button id="fivedollarbtnsend" type="button" class="quickaddbtn-style">
            $5</button>
        <button id="tendollarbtnsend" type="button" class="quickaddbtn-style">
            $10</button>
        <button id="twentydollarbtnsend" type="button" class="quickaddbtn-style">
            $20</button>
    </div>
    <div style="background: #7D7D7D; color: #FFFFFF; font-weight: bold; padding: 5px">
        AVAILABLE TO SEND TODAY</div>
    <div class="availableamt">
        $40.00</div>
    <div style="background: #000000; height: 1px; margin-bottom: 10px">
    </div>
</div>
