<div id="header-wrapper" class="clearfix" style="position: relative; vertical-align: text-bottom">
    <div id="logo" style="float: left">
        <img src="@Url.Content("~/Content/images/paidthx-alpha-transparent.png")" alt="PaidThx Logo" width="140" /></div>
    <div id="page-title">
        What is PaidThx?</div>
</div>
<div id="main-body" class="panel">
    <h2>
        PaidThx - the first Social Payment Network has arrived</h2>
    <p>
        PaidThx is the easiest way to send and receive money with your friends, family, and favorite organizations.</p>
    <p>
        Transactions you complete using PaidThx will appear in your bank account typically within
        24 hours and using the service requires no fees or committments.</p>
    <h2>
        Download the App</h2>
    <p>
        Downloading the free PaidThx application to your mobile phone and completing your
        first transaction is completely secure and takes just minutes.</p>
            <p><a href=""><img src="@Url.Content("~/Content/images/android_download_button.gif")" /></a></p>
        <p><a href=""><img src="@Url.Content("~/Content/images/iphone_download_button.gif")" /></a></p>
</div>