<script src="@Url.Content("~/Scripts/home.js")" type="text/javascript"></script>
<div id="modal">
WHAT THE HELL
</div>

<div>
This is that home screen - it might change a couple times - get used to it.

</div>