

<!--<script src="Url.Content("~/Scripts/home.js")" type="text/javascript"></script>-->
<div id="modal">
    <div id="wrapper">
	<div data-role="header" data-position="inline" data-theme="d" class="ui-controlgroup ui-btn-inner">
		<a href="index.html" data-icon="delete">logout</a>
		<h1>PaidThx</h1>
		<a href="index.html" data-icon="gear" data-iconpos="notext"></a>
	</div>	
<ul id="profiletop" class="paystream">
	<li data-corners="false" data-shadow="false" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="btn ui-btn-icon-right ui-li-has-arrow ui-li-has-thumb ui-btn-up-c">
		<div class="ui-btn-inner ui-li">
			<div class="ui-btn-text">
				<a href="index.html" class="ui-link-inherit">
					<img src="img/profileIcon.png" class="ui-li-thumb stream-pic" id="profilePic" alt="profilePic">
						<div id="profileDesc">
							<h3 class="ui-li-heading">userName</h3>
							<h4 class="ui-li-desc">(804)200-8780 | matt@pdthx.com</h4>
						</div>
				</a>
			</div>
			<a href=""><span class="ui-icon ui-icon-arrow-r"></span></a>
		</div>
		
	</li>

</ul>
	<div id="profileTips" class="ui-grid-a bottomCorners element">
		<div class="ui-block-a textCenter">
			<div class="block">
				<h3 id="score">Your Score</h3>
				<a href="" class="pactions"><h2>88</h2></a>
			</div>
		</div>
		<div class="ui-block-b textCenter">
			<div class="block">
				<h3 id="increaseScore">Increase Score</h3>
				<a href="" class="pactions"><h4>+link facebook</h4></a>
			</div>
		</div>
	</div><!-- /grid-a -->
	<div data-role="controlgroup" data-type="horizontal" class="verticalMiddle">
		<a href="send.html" data-role="button">
			<div class="quickpay">
				<img src="img/sendIcon.png" alt="">
				<h4>Send $</h4>
			</div>
		</a>
		<a href="request.html" data-role="button">
			<div class="quickpay">
				<img src="img/requestIcon.png" alt="">
				<h4>Request $</h4>
			</div>
		</a>
	</div>
	<div id="profileTips" data-position="inline" data-role="button" class="ui-li-inner ui-li">
		<div class="ui-btn-text">
			<a href="paystream.html" class="ui-link-inherit">
				<span id="paystreambtn" class="ui-li-count ">5</span>
				<span id="paystreambtn" class="verticalMiddle">Paystream</span>
			</a>
		</div>
	</div>
	<div data-role="footer" data-position="fixed" class="nav-pdthx" data-theme="c">
	    <div data-role="navbar"class="nav-pdthx" data-grid="d">
	        <ul>
	            <li><a href="#" id="home" data-icon="custom">Home</a></li>
	            <li><a href="#"id="request" data-icon="custom">Request $</a></li>
	            <li><a href="#"class="mainButton"id="send" data-icon="custom">Send $</a></li>
	            <li><a href="#"id="paystream" data-icon="custom">Paystream</a></li>
				<li><a href="#"id="profile" data-icon="custom">Profile</a></li>
	        </ul>
	    </div>
	</div>
</div><!--end wrapper-->

</div>