<div id="header-wrapper" class="clearfix" style="position: relative; vertical-align: text-bottom">
    <div id="logo" style="float: left">
        <img src="@Url.Content("~/Content/images/paidthx-alpha-transparent.png")" alt="PaidThx Logo" width="140" /></div>
    <div id="page-title" style="position: absolute; bottom: 4px; right: 0;">
       Privacy Policy
    </div>
</div>
<div id="main-body" class="panel">
<h2>Privacy Policy</h2>
<p>PaidThx supports the right to privacy, including the rights of individuals to control the dissemination and use of personal data that describes them, their personal choices, or life experiences. 
PaidThx supports domestic and international laws and regulations that seek to protect the privacy rights of such individuals.</p>
<p>This policy applies to all PaidThx employees, contractors, temporaries, and consultants, and other workers. All of these people are expected to be familiar with and fully in compliance with these policies. 
Workers who are not in compliance are subject to disciplinary action up to and including termination.</p>
<p>This policy also applies to outsourcing organizations that perform information-processing services on behalf of PaidThx. Use of outsourcing organizations to 
process personal data must always include a contractual commitment to consistently observe these policies 
and related PaidThx procedures and standards as specified by the Information Security department. 
All outsourcing organizations handling personal data provided by PaidThx must periodically issue certificates of compliance 
with this policy, and permit PaidThx to initiate independent audits to determine compliance with this policy.</p>
<p>In general terms, PaidThx does not engage in blanket monitoring of internal communications. It does, however, reserve the right at any time to monitor, access, retrieve, read, or disclose internal communications when a legitimate business need exists that cannot be satisfied by other means, the involved individual is unavailable and timing is critical to a business activity, there is reasonable cause to suspect criminal activity or policy violation, or monitoring is required by law, regulation, or third-party agreement.</p>
<p>At any time, PaidThx may log web sites visited, files downloaded, and related information exchanges over the Internet. PaidThx may record the numbers dialed for telephone calls placed through its telephone systems. Department managers may receive reports detailing the usage of these and other internal information systems, and are responsible for determining that such usage is both reasonable and business-related.</p>
<p>All files and messages stored on PaidThx processing systems are routinely backed up to tape, disk, and other storage media. This means that information stored on PaidThx information processing systems, even if a worker has specifically deleted it, is often recoverable and may be examined at a later date by system administrators and others designated by management.</p>
<p>At any time and without prior notice, PaidThx management reserves the right to examine archived electronic mail, personal computer file directories, hard disk drive files, and other information stored on PaidThx information processing systems. This information may include personal data. Such examinations are typically performed to assure compliance with internal policies, support the performance of internal investigations, and assist with the management of PaidThx information processing systems.</p>
</div>
