@{
    ViewBag.Title = "Index";
    ViewBag.PageID = "useragreement-page";
    ViewBag.Classes = "settings";
}
<div data-role="page" id="@ViewBag.PageID" class="@ViewBag.Classes"  data-add-back-btn="true" @TempData["DataUrl"]>
 @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="header-pdthx" data-theme="c" data-add-back-btn="true">
        <h1>
            User Agreement</h1>
    </div>
    <div data-role="content">
        <div class="pad">
           USER AGREEMENT
            <p>
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text</p>
            <p>
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text</p>
            <p>
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text text text text text text text text text
                text text text text text text text text
            </p>
        </div>
    </div>
</div>
