@{
    ViewBag.Title = "Index";
    ViewBag.PageID = "useragreement-page";
    ViewBag.Classes = "page settings";
}
<div id="@ViewBag.PageID" class="@ViewBag.Classes"   >
 
    <div class="header-pdthx"  >
        <h1>
            User Agreement</h1>
            <a href="@Url.Content("~/Preferences")"  class="hd-btn-left btn-back">Back</a>
    </div>
    <div class="pd-content">
        <div class="pad">
            <p>
               Hey - thanks for trying PaidThx <sup>ALPHA</sup> -  By using this application, you agree that your bank accounts are your own and that you won't get mad at us if things break.<br /><br />
               You also probably agree that fees are annoying.  And monetary exchange should be simple and convenient.
            </p>
        </div>
    </div>
</div>
