@{
    ViewBag.Title = "Index";
    ViewBag.PageID = "useragreement-page";
    ViewBag.Classes = "page settings";
}
<div id="@ViewBag.PageID" class="@ViewBag.Classes"   >
 
    <div class="header-pdthx"  >
        <h1>
            User Agreement</h1>
            <a href="@Url.Content("~/Preferences")"  class="hd-btn-left btn-back">Back</a>
    </div>
    <div class="pd-content">
        <div class="pad">
            <p>
               Hey - thanks for trying PaidThx <sup>ALPHA</sup> -  By using this application, you agree that your bank accounts are your own.  You also agree that you won't get mad at us if things break or don't work perfectly.  We promise to fix them soon.<br /><br />
               You also agree that fees are annoying, and monetary exchange should be simple and convenient.<br /><br />
               We hope you enjoy using PaidThx.  Please let us know if you have any ideas to improve!
            </p>
        </div>
    </div>
</div>
