@model Mobile_PaidThx.Models.SendModels.AddContactSendModel
@{
    ViewBag.Title = "AddContactSend";
}
<div data-role="page" id="send-page">
 @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="nav-pdthx" data-theme="c">
        <h1>
            Enter Recipient</h1>
       <!--<a href="./Preferences" id="btn-settings" class="top-button ui-btn-right"></a>-->
    </div>

    <div data-role="content">
          <div style="margin: 5px; padding: 10px; background-color: #FFFFFF">
        
                 <ul data-role="listview" class="ui-listview" data-filter="true" data-filter-placeholder="Type Email Address, Phone #, MeCode or Friend's Name">
                    @foreach (var friend in Model.Friends)
                    {
                    <li>
                    <a class="send-friend" friend-id="@friend.id" friend-name="@friend.name">
                        <img src="@String.Format("http://graph.facebook.com/{0}/picture", friend.id)" />
                        @friend.name
                    </a>
                    </li>
                    }
                </ul>
            </div>
    </div>
</div>
