@{
    ViewBag.Title = "AmountToSendView";
}
<div data-role="page" id="send-page" class="modally">
 @{ Html.RenderPartial("TitleBar"); }
    <div data-role="header" data-position="fixed" class="nav-pdthx" data-theme="c">
        <h1>
            How Much?</h1>
       <!--<a href="./Preferences" id="btn-settings" class="top-button ui-btn-right"></a>-->
    </div>

    <div data-role="content" class="content">
        <!--
        <div class="fieldamount" style="height: 50px;" id="amount-body">
            <div id="custom-amount-field" style="float: left; padding-left: 47px;">
                <input type="text" id="customAmountSend" style="width: 195px; margin-right: -19px;
                    float: left" />
            </div>
            <button id="gobtn-send" style="position: absolute; left: 270px; padding-top: 8px;
                color: #FFFFFF">
                Go
            </button>-->
             <input type="text" id="customAmountSend" class="btn-new icon money field" value="0.00" style="width: 80%; float:left;" />
             <button id="gobtn-send" class="btn-new small  btn-green field" style="float:right; width:18%; color: #FFFFFF">
                Go
            </button>
            <div style="clear:both;"><br /></div>
        <div style="background: #7D7D7D; color: #FFFFFF; font-weight: bold; padding: 5px">
            QUICK SEND AMOUNTS</div>
        <div class="quicksend" style="width: 100%; margin: -5px">
            <button id="onedollarbtnsend" type="button" class="quickaddbtn-style">
                $1</button>
            <button id="fivedollarbtnsend" type="button" class="quickaddbtn-style">
                $5</button>
            <button id="tendollarbtnsend" type="button" class="quickaddbtn-style">
                $10</button>
            <button id="twentydollarbtnsend" type="button" class="quickaddbtn-style">
                $20</button>
        </div>
       
        <div style="background: #000000; height: 1px; margin-bottom: 10px">
        </div>
    </div>
        @{ Html.RenderPartial("LoggedInMenu"); }
</div>
