@{
    ViewBag.Title = "Send | How Much?";
    ViewBag.PageID = "how-much-page";
    ViewBag.Classes = "page";
}
<div  id="@ViewBag.PageID" class="@ViewBag.Classes" >
 
    <div class="header-pdthx" >
        <h1>
            How Much?</h1>
            <a href="@Url.Content("~/Send")"  class="hd-btn-left btn-back history">Cancel</a>
    </div>

    <div class="pd-content">
    <div class="pad">
    @using (Html.BeginForm("AmountToSend", "Send", FormMethod.Post))
    {
    Html.RenderPartial("~/Views/Shared/SelectAmount.cshtml");
    }
    @using (Html.BeginForm("AmountToSend", "Send", FormMethod.Post))
    {
    Html.RenderPartial("~/Views/Shared/QuickAdds.cshtml");
    }
    </div>
    </div>
    </div>

    @section PageScripts{
        <script type="text/javascript" src="@Url.Content("~/Scripts/amounttosend.js")"></script>

    }

