<link href="@Url.Content("~/Content/patternlock.css")" rel="stylesheet" />
<script type="text/javascript" src="@Url.Content("~/Scripts/patternlock.js")"></script>
<script type="text/javascript">
    function submitform() {
        alert("You entered " + document.getElementById("password").value);
        return true;
    }
</script>
<div>
    <form method="post" onsubmit="return submitform()">
    <h2>
        Please login</h2>
    <div>
        <input type="password" class="patternlock" id="password" name="patternlock" />
        <input type="submit" value="login" />
    </div>
    </form>
</div>
