<link href="@Url.Content("~/Content/patternlock.css")" rel="stylesheet" />
<script>
    function submitform() {
        alert("You entered " + document.getElementById("patternlock").value);
        return true;
    }
</script>
<div data-role="page" id="send-page">
    <body onload="generatePincode();">
        <form method="post" onsubmit="return submitform()" action="">
        <div>
            <input type="password" id="patternlock" name="patternlock" class="patternlock" />
            <input type="submit" value="login" id="pinswipesubmit" />
        </div>
        </form>
    </body>
</div>
