em
{
    color: red;
    font-weight: bold;
    padding-right: .25em;
}
#container
{
    background-image: url('images/bgnoise.gif');
    background-repeat: repeat;
}
ul.contained.tabs-content > li
{
    padding: 0;
    border: none;
}
#content-container
{
    margin: 0px 10px;
}
#main-container
{
    margin: 0;
    padding: 0;
}
#header-wrapper
{
    margin: 15px 0px;
}
#page-title
{
    position: absolute;
    bottom: 4px;
    right: 0;
    color: #41924d;
    font-size: 16px;
    font-weight: bold;
    font-family: Droid Sans;
}
#main-body, .main-body
{
    background-color: #fff;
    padding: 12px 12px 40px 12px;
    border-width: 1px;
    border-color: #d0d0d0;
}
#main-body h2, .main-body h2
{
    margin: 10px 0px 10px 0px;
    font-size: 17px;
    font-weight: bold;
    font-family: Droid Sans;
}
#main-body, .main-body
{
    font-family: Arial;
    color: #6d6e71;
}
#main-tabs
{
    background-image: url('images/tab_background.gif');
    background-position: bottom;
    background-repeat: repeat-x;
    border-bottom: solid 4px #51A5BA;
    height: 51px;
    padding-left: 10px;
}
#main-tabs dd a.active
{
    background-image: url('images/tab_background_active.gif');
}
#main-tabs dd a.active.tab-settings
{
    background-image: url('images/tab_settings.gif');
    width: 67px;
    background-repeat: no-repeat;
    padding: 0;
}
#main-tabs dd a.tab-settings
{
    background-image: url('images/tab_settings_inactive.gif');
    width: 67px;
    background-repeat: no-repeat;
    padding: 0;
}
#main-tabs dd a
{
    background-image: url('images/tab_background_inactive.gif');
}
#main-tabs dd a, dl.tabs dd a.active
{
    line-height: 51px;
    height: 51px;
    padding: 0 10px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 1px solid #c7cdcc;
}
#main-tabs dd a.first
{
    border-left: none !important;
}
#main-tabs dd a
{
    color: #757575;
    font-size: 13px;
    font-family: "Trebuchet MS" , Arial, Helvetica, Sans-Serif;
    text-shadow: none;
}
#main-tabs dd a.active
{
    color: #fff;
}

#sub-nav
{
    background-color: #51A5BA;
    height: 50px;
    margin: -4px -10px 18px -10px;
    padding: 0px 10px;
}
#sub-nav dd
{
    display: block;
    color: #fff;
    margin-bottom: 20px;
}
#sub-nav dd a, #sub-nav dd a:active
{
    background: none;
    color: #fff;
    border: none;
    height: 50px;
    line-height: 50px;
    font-weight: normal;
    font-size: 12px;
    font-family: "Trebuchet MS" , Arial, Helvetica, Sans-Serif;
    text-shadow: none;
}
#sub-nav dd a.active
{
    background-image: url('images/subnav-active-background.gif');
    background-repeat: repeat-x;
    background-position: center;
}
#sub-nav a #all
{
    background-image: url('images/sub-nav-all-icon.gif');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
}
#sub-nav a.active #all
{
    background-image: url('images/sub-nav-all-icon-active.gif');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
}
#sub-nav a #payments
{
    background-image: url('images/sub-nav-payments-icon.gif');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
}
#sub-nav a.active #payments
{
    background-image: url('images/sub-nav-payments-icon-active.gif');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
}
#sub-nav a #requests
{
    background-image: url('images/sub-nav-requests-icon.gif');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
}
#sub-nav a.active #requests
{
    background-image: url('images/sub-nav-requests-icon-active.gif');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
}
#sub-nav a #alerts
{
    background-image: url('images/sub-nav-alerts-icon.gif');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
}
#sub-nav a.active #alerts
{
    background-image: url('images/sub-nav-alerts-icon-active.gif');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
}
#footer-menu
{
    font-size: 11px;
    color: #8b8b8b;
}
#main-body-sub-links
{
    font-size: 12px;
    color: #909090;
}
#securityCallout-wrapper
{
    background-image: url('images/security_callout_left.gif');
    background-repeat: no-repeat;
}
#securityCallout
{
    background-image: url('images/security_callout_right.gif');
    background-repeat: no-repeat;
    margin-left: 48px;
    height: 82px;
}
#socialNetworkIcons dd
{
    margin-right: 20px;
}
#profile-wrapper .member-image img
{
    float: left;
    margin: 10px 12px 16px 10px;
}
.notes
{
    font-size: 11px;
    color: #6d6e71;
}
.note-emphasis
{
    font-family: Times New Roman, Georgia, Serif;
    font-weight: normal;
    font-style: italic;
    font-size: 18px;
    text-align: center;
}
label.error
{
    color: red;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 0.5em;
    width: 100%;
    float: none;
}
.copyright
{
    font-size: 11px;
    color: #a2a2a2;
}
.thought
{
    padding: 10px;
    border: 1px solid #ccd3d2;
    background-color: #f0f0f0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#f5f6f5));
    background: -webkit-linear-gradient(top, #f5f6f5, #e6e6e6);
    background: -moz-linear-gradient(top, #f5f6f5, #e6e6e6);
    background: -ms-linear-gradient(top, #f5f6f5, #e6e6e6);
    background: -o-linear-gradient(top, #f5f6f5, #e6e6e6);
    position: relative;
}
.thought p
{
    margin-bottom: 0;
    color: #676767;
    font-style: italic;
    font-size: 12px;
    text-shadow: none;
}
.thought .arrow
{
    display: block;
    width: 10px;
    height: 8px;
    position: absolute;
    top: -8px;
    left: 30px;
    background-image: url(images/thought-arrow-up.png);
    background-repeat: no-repeat;
}

input.ui-input-text, textarea.ui-input-text
{
    margin-bottom: 20px;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: none;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#ffffff));
    background: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background: -o-linear-gradient(top, #ffffff, #e6e6e6);
}
input::-webkit-input-placeholder
{
    font-style: italic;
    color: #6d6e71;
    text-shadow: none;
    font-size: 12px;
}
input:-moz-placeholder
{
    font-style: italic;
    color: #6d6e71;
    text-shadow: none;
    font-size: 12px;
}
#signin-submit, #update-account, #register-submit, #verify-submit, #btnUpdateProfile, #btnSendMoney, #btnRequestMoney, #button-submit-ach, #reset-password-submit, #btn-forgot-password-submit
{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1d8639), to(#71b26d));
    background: -webkit-linear-gradient(top, #71b26d, #1d8639);
    background: -moz-linear-gradient(top, #71b26d, #1d8639);
    background: -ms-linear-gradient(top, #71b26d, #1d8639);
    background: -o-linear-gradient(top, #71b26d, #1d8639);
}
#add-account, #add-account-submit, #btnSkipStep
{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a6bb), to(#6ac9e1));
    background: -webkit-linear-gradient(top, #6ac9e1, #52a6bb);
    background: -moz-linear-gradient(top, #6ac9e1, #52a6bb);
    background: -ms-linear-gradient(top, #6ac9e1, #52a6bb);
    background: -o-linear-gradient(top, #6ac9e1, #52a6bb);
}
#remove-account
{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ca6431), to(#fd8403));
    background: -webkit-linear-gradient(top, #fd8403, #ca6431);
    background: -moz-linear-gradient(top, #fd8403, #ca6431);
    background: -ms-linear-gradient(top, #fd8403, #ca6431);
    background: -o-linear-gradient(top, #fd8403, #ca6431);
}
#signin-facebook-submit
{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#667cb2), to(#758fc7));
    background: -webkit-linear-gradient(top, #758fc7, #667cb2);
    background: -moz-linear-gradient(top, #758fc7, #667cb2);
    background: -ms-linear-gradient(top, #758fc7, #667cb2);
    background: -o-linear-gradient(top, #758fc7, #667cb2);
}
a.imgbtn, button.imgbtn
{
    display: block;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    clear: both;
    margin-bottom: 10px;
    border: 0;
    cursor: pointer;
}
a.imgbtn:after, button.imgbtn:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
a.imgbtn img, button.imgbtn img
{
    border-right: 1px solid #4e9b54;
    padding: 0 10px;
    float: left;
}
a.imgbtn span, button.imgbtn span
{
    display: block;
    float: left;
    color: #fff;
    font-family: "Trebuchet MS" , Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
    height: 46px;
    line-height: 46px;
    vertical-align: middle;
    text-shadow: 1px 1px #666;
    border-left: 1px solid #7bb57f;
}

a.imgbtn span.ui-button-text, button.imgbtn span.ui-button-text
{
    border: 0;
    padding-left: 0;
}
a.fbSignIn img, button.fbSignIn img
{
    border-right: 1px solid #597ea9;
    padding: 0 5px;
}
a.fbSignIn span, button.fbSignIn span
{
    border-left: 1px solid #7b97d1;
}

.cbListPaystream
{
    float: right;
}
.cbListPaystream.first
{
    margin-right: 10px;
    float: left;
}
.paystream-filters:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.ui-checkbox label
{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#ffffff));
    background: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background: -o-linear-gradient(top, #ffffff, #e6e6e6);
}
.ui-checkbox label span
{
    font-size: 12px;
    color: #676767;
    font-weight: normal;
}
.ui-checkbox label span.ui-btn-inner
{
    padding: 0.6em 10px;
}
.ui-checkbox label.ui-checkbox-on
{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#d6dada));
    background: -webkit-linear-gradient(top, #d6dada, #e6e6e6);
    background: -moz-linear-gradient(top, #d6dada, #e6e6e6);
    background: -ms-linear-gradient(top, #d6dada, #e6e6e6);
    background: -o-linear-gradient(top, #d6dada, #e6e6e6);
    border: 1px solid #ccc;
}
.ui-checkbox label.ui-checkbox-on span
{
    color: #31879d !important;
    text-shadow: 1px 1px #fff;
}

/* ---------- [ Paystream Transactions ] ---------- */
.trans-type
{
    width: 40px;
    float: left;
    display: block;
    overflow: hidden;
    padding: 10px 0 0 0;
}
.trans-title
{
    width: 60%;
    padding: 0 auto;
    float: left;
    font-size: 11px;
    text-shadow: none;
    display: inline-block;
}
.trans-title strong
{
    height: 30px;
    font-size: 12px;
    clear: both;
    display: block;
    font-weight: bolder;
    white-space: normal;
    overflow: hidden;
}
.trans-title em
{
    font-size: 10px;
    font-weight: normal;
    color: #6d6e71;
}
.status
{
    width: 20px;
    float: left;
    display: block;
    overflow: hidden;
    text-align: right;
    padding-right: 5px;
}
.trans-comment
{
    padding-top: 15px;
    font-size: 10px;
    font-style: italic;
    color: #a8a9ab;
    font-weight: normal;
}
.title-pay-in
{
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    color: #1c8839;
}
.title-pay-out
{
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    color: #269bb8;
}
.title-request-in
{
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    color: #86acb5;
}
.title-request-out
{
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    color: #81b28e;
}
.trans-amount
{
    padding: 5px 10px 0 0;
    float: right;
    display: inline-block;
    text-align: right;
    text-shadow: none;
    font-size: 10px;
    font-weight: normal;
    vertical-align: middle;
    width: 20%;
}
.gray-above
{
    padding-bottom: 10px;
    color: #a8a9ab;
    font-size: 10px;
    font-style: italic;
}
.gray-out
{
    padding-top: 10px;
    color: #a8a9ab;
    font-size: 12px;
    font-style: italic;
}
.paystream-pay-in
{
    font-size: 10px;
    font-weight: bold;
    color: #1c8839;
}
.paystream-pay-out
{
    font-size: 10px;
    font-weight: bold;
    color: #269bb8;
}
.paystream-request-in
{
    font-size: 10px;
    font-weight: bold;
    color: #86acb5;
}
.paystream-request-out
{
    font-size: 10px;
    font-weight: bold;
    color: #81b28e;
}
.receive .trans-amount
{
    color: #1c8839;
}
.paid .trans-amount
{
    color: #196779;
}
.pending .trans-amount
{
    color: #6d6e71;
}
.paystream-header
{
    background: #919191;
    color: #FFFFFF;
    font-size: 13px;
    text-indent: 10px;
    letter-spacing: 1px;
    padding: 6px;
}
.member-name
{
    font-size: 10px;
    font-weight: bold;
}
.dialog
{
    position: relative;
    display: block;
}
.dialog-close
{
    position: absolute;
    top: 5px;
    right: 5px;
    background-image: url('images/close-dialog.gif');
    background-repeat: no-repeat;
    height: 21px;
    width: 20px;
    cursor: pointer;
}
.bank-icon
{
    display: block;
    float: left;
    margin: 5px 10px 5px 0px;
}
.paystream-row
{
    background: #F7F7F7;
}
.paystream-row-alt
{
    background: #FFFFFF;
}
.paystream-dialog
{
    display: none;
    width: 95%;
    height: 100%;
    background: #FFFFFF;
    position: fixed;
    right: 0%;
    top: 0%;
    z-index: 101;
    border-left: 1px solid #888;
    border-top: 1px solid #888;
    border-top-left-radius: 4em;
    -moz-border-radius-topleft: 4em;
    -webkit-border-top-left-radius: 4em;
}
.overlay
{
    display: none;
    background: black;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    opacity: 0.2;
}

.paystream-dialog-title-bg
{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background: #E8E8E8;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 2em;
    -moz-border-radius-topleft: 2em;
    -webkit-border-top-left-radius: 2em;
}

.paystream-dialog-inner-display
{
    padding-left: 20px;
    padding-right: 20px;
}

.paystream-dialog-closebtn
{
    background-image: url('images/close-dialog.gif');
    height: 20px;
    width: 21px;
    background-repeat: no-repeat;
    float: left;
    top: 20px;
    left: 20px;
    position: relative;
}

.paystream-user
{
    width: 40px;
    float: left;
    display: block;
    overflow: hidden;
    padding: 10px 0 0 0;
}

.paystream-user-next
{
    width: 40px;
    float: right;
    display: block;
    overflow: hidden;
    padding: 10px 0 0 0;
}

.paystream-subbar
{
    background: #AAF0D3;
    color: #40A37A;
    font-size: 13px;
    font-weight: bolder;
    padding: 10px;
}

.user-statement
{
    font-size: 11px;
    font-weight: bold;
    padding-top: 10px;
}


.paystream-date
{
    text-align: right;
    font-size: medium;
    font-style: italic;
    color: #B3B3B3;
    padding-bottom: 5px;
}

.paystream-wrapper
{
    display: block;
    height: 80px;
}

.paystream-status-dialog
{
    text-align: center;
    margin: 15px;
    border-style: solid;
    border-color: #A3A3A3;
    border-width: 1px;
    color: #B56B16;
    font-weight: bold;
    padding: 15px;
}

p
{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.speech-bubble-border
{
    position: relative;
    padding: 15px 15px 15px 15px;
    margin: 1em 0 3em;
    border: 3px solid #B8B8B8;
    color: #636363;
    background: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.speech-bubble-border.top::after
{
    top: -13px;
    bottom: auto;
    left: 34px;
    right: auto;
    border-width: 0 13px 13px;
}

.speech-bubble-border::before
{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 27px;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #B8B8B8 transparent;
    display: block;
    width: 0;
}

.speech-bubble-border.top::before
{
    top: -20px;
    bottom: auto;
    left: 27px;
    right: auto;
    border-width: 0 20px 20px;
}

.speech-bubble-border::after
{
    content: "";
    position: absolute;
    bottom: -13px;
    left: 34px;
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: white transparent;
    display: block;
    width: 0;
}

.paystream-header-title
{
    padding: 10px;
    text-align: center;
    font-size: 13px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#ffffff));
    background: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background: -o-linear-gradient(top, #ffffff, #e6e6e6);
    color: #6E6E6E;
    font-weight: bold;
}

/* ----- SETTINGS TAB ------*/

.globalbg
{
    background-color: #1c8839;
    padding: 5px;
    margin: -20px -10px 0px -10px;
}

.tablesettings
{
    height: 42px;
    margin-bottom: 15px;
    padding-left: 5px;
    overflow: hidden;
    color: #4A4A4A;
    background-color: #FFFFFF;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 2px solid #D6D6D6;
    font-weight: bold;
}

.tablemiddle
{
    height: 42px;
    padding-left: 5px;
    overflow: hidden;
    background-color: #FFFFFF;
    border-left: 2px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
    border-right: 2px solid #D6D6D6;
    font-weight: bold;
}

.tabletop
{
    height: 42px;
    padding-left: 5px;
    overflow: hidden;
    background-color: #FFFFFF;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top: 2px solid #D6D6D6;
    border-left: 2px solid #D6D6D6;
    border-right: 2px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
    font-weight: bold;
}

.tablebottom
{
    height: 42px;
    margin-bottom: 15px;
    padding-left: 5px;
    overflow: hidden;
    background-color: #FFFFFF;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-left: 2px solid #D6D6D6;
    border-right: 2px solid #D6D6D6;
    border-bottom: 2px solid #D6D6D6;
    font-weight: bold;
}

/*---- SEND MONEY TAB --------*/
h8
{
    position: absolute;
    top: 18px;
    left: 18%;
    width: 100%;
}

h8 span
{
    font-size: 20px;
}

h9
{
    position: absolute;
    top: 25%;
    left: 77%;
    width: 100%;
}

h9 span
{
    font-size: 20px;
    color: #FFFFFF;
}

h10
{
    position: absolute;
    top: 20px;
    left: 9%;
    font-size: 20px;
}

h11
{
    position: absolute;
    top: 20px;
    left: 33%;
    font-size: 20px;
}

h12
{
    position: absolute;
    top: 20px;
    left: 54%;
    font-size: 20px;
}

h13
{
    position: absolute;
    top: 20px;
    left: 78%;
    font-size: 20px;
}

.availableamt
{
    background: #FFFFFF;
    color: #7D7D7D;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
    font-size: 20px;
}

.quicksend
{
    position: relative;
    background: #FFFFFF;
    color: #7D7D7D;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.fieldamount
{
    background: #F2F2F2;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.boxnumber
{
    background-image: -moz-linear-gradient(top, #828282 0%, #00131F 100%);
    background-image: -o-linear-gradient(top, #828282 0%, #00131F 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #828282), color-stop(1, #00131F));
    height: 70px;
    padding-top: 5px;
    width: 33%;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    border-right: 1px solid #5C5C5C;
    border-top: 1px solid #A8A8A8;
    position: relative;
}

.boxgray
{
    background-image: -moz-linear-gradient(top, #FAFAFA 0%, #DEDEDE 100%);
    background-image: -o-linear-gradient(top, #FAFAFA 0%, #DEDEDE 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FAFAFA), color-stop(1, #DEDEDE));
    height: 70px;
    padding-top: 5px;
    width: 33%;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    border-right: 1px solid #5C5C5C;
    border-top: 1px solid #A8A8A8;
    position: relative;
}
#writeuserbtn
{
    background-image: url('images/field-contact-255x48.png');
    background-repeat: no-repeat;
    height: 48px;
    width: 255px;
    padding-left: 50px;
    padding-top: 3px;
}
.clickamountbtn
{
    background-image: url('images/field-howmuch-255x48.png');
    background-repeat: no-repeat;
    height: 48px;
    width: 255px;
    font-size: 14px;
    padding-left: 50px;
    padding-top: 14px;
}
#gobtn
{
    background-image: url('images/btn-go-active-50x48.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 48px;
    text-align: center;
    font-size: 20px;
}
#custom-amount-field
{
    background-image: url('images/field-howmuch-255x48.png');
    background-repeat: no-repeat;
    width: 255px;
    height: 48px;
}
#customAmount
{
    background: transparent;
    border: none;
    border-width: 0px;
}
@media screen and (orientation: portrait)
{
    label.error
    {
        margin-left: 0;
        display: block;
    }
}

@media screen and (orientation: landscape)
{
    label.error
    {
        display: inline-block;
        margin-left: 22%;
    }
}

