body
{
     /*background-image: url('images/pattern.png');*/
     background-color:#FFFFFF !important;
     background-image: -webkit-gradient(linear, left top, left bottom, from( #f2f2f3 /*{a-bar-background-start}*/), to( #eeeeee /*{a-bar-background-end}*/));
background-image: -webkit-linear-gradient(#f2f2f3 /*{a-bar-background-start}*/, #eeeeee /*{a-bar-background-end}*/);
background-image: -moz-linear-gradient(#f2f2f3 /*{a-bar-background-start}*/, #eeeeee /*{a-bar-background-end}*/);
background-image: -ms-linear-gradient(#f2f2f3 /*{a-bar-background-start}*/, #eeeeee /*{a-bar-background-end}*/);
background-image: -o-linear-gradient(#f2f2f3 /*{a-bar-background-start}*/, #eeeeee /*{a-bar-background-end}*/);
background-image: linear-gradient(#f2f2f3 /*{a-bar-background-start}*/, #eeeeee /*{a-bar-background-end}*/);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div.ui-page
{
 background-color:transparent !important;
 background:none !important;  
 background:  url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSI2MyUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNjUiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

background: -moz-radial-gradient(center, ellipse cover,  rgba(32,104,50,0) 0%, rgba(32,104,50,0) 40%, rgba(32,104,50,0.65) 99%, rgba(32,104,50,0.65) 100%); /* FF3.6+ */

background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(32,104,50,0)), color-stop(70%,rgba(32,104,50,0)), color-stop(99%,rgba(32,104,50,0.65)), color-stop(100%,rgba(32,104,50,0.65))); /* Chrome,Safari4+ */

background: -webkit-radial-gradient(center, ellipse cover,  rgba(32,104,50,0) 0%,rgba(32,104,50,0) 40%,rgba(32,104,50,0.65) 99%,rgba(32,104,50,0.65) 100%); /* Chrome10+,Safari5.1+ */

background: -o-radial-gradient(center, ellipse cover,  rgba(32,104,50,0) 0%,rgba(32,104,50,0) 40%,rgba(32,104,50,0.65) 99%,rgba(32,104,50,0.65) 100%); /* Opera 12+ */

background: -ms-radial-gradient(center, ellipse cover,  rgba(32,104,50,0) 0%,rgba(32,104,50,0) 40%,rgba(32,104,50,0.65) 99%,rgba(32,104,50,0.65) 100%); /* IE10+ */

background: radial-gradient(center, ellipse cover,  rgba(32,104,50,0) 0%,rgba(32,104,50,0) 40%,rgba(32,104,50,0.65) 99%,rgba(32,104,50,0.65) 100%); /* W3C */
  
}
.nav-paidthx
{
    box-shadow: 0px -2px 1px #BEBEBE;
}

div.allcontent
{
 box-shadow: 0px 6px 6px #888888;   
}
div.viewporter div.ui-content
{
 padding:5px;  
 
}
div.ui-content
{
 background:#ffffff;
 border-radius: 0px 0px 0px 0px;
 margin: 0px;
 overflow:hidden;
 padding: 0px !important;
}
.ui-header h1.ui-title
{
 margin: 10px 90px 10px !important;   
}
em
{
    color: red;
    font-weight: bold;
    padding-right: .25em;
}
#container
{

}
#main-body .ui-listview
{
 margin-top:10px;   
}

ul.contained.tabs-content > li
{
    padding: 0;
    border: none;
}
#content-container
{
    margin: 0px 0px 10px;
}
#main-container
{
    margin: 0;
    padding: 0;
}
#header-wrapper
{
    margin: 10px 0px;
    padding-bottom:10px;
    border-bottom:1px solid #cccccc;
}
#page-title
{
    position: absolute;
    bottom: 4px;
    right: 0;
    color: #41924d;
    font-size: 16px;
    font-weight: bold;
    font-family: Droid Sans;
}
#main-body, .main-body
{
    background-color: #fff;
    padding: 12px 12px 0px 12px;
    border-width: 1px;
    border-color: #d0d0d0;
}
#main-body h2, .main-body h2
{
    margin: 10px 0px 10px 0px;
    font-size: 17px;
    font-weight: bold;
    font-family: Droid Sans;
}
#main-body, .main-body
{
    font-family: Arial;
    color: #6d6e71;
}
#main-tabs
{
    background-image: url('images/tab_background.gif');
    background-position: bottom;
    background-repeat: repeat-x;
    border-bottom: solid 4px #51A5BA;
    height: 51px;
    padding-left: 10px;
}
#main-tabs dd a.active
{
    background-image: url('images/tab_background_active.gif');
}
#main-tabs dd a.active.tab-settings
{
    background-image: url('images/tab_settings.gif');
    width: 67px;
    background-repeat: no-repeat;
    padding: 0;
}
#main-tabs dd a.tab-settings
{
    background-image: url('images/tab_settings_inactive.gif');
    width: 67px;
    background-repeat: no-repeat;
    padding: 0;
}
#main-tabs dd a
{
    background-image: url('images/tab_background_inactive.gif');
}
#main-tabs dd a, dl.tabs dd a.active
{
    line-height: 51px;
    height: 51px;
    padding: 0 10px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 1px solid #c7cdcc;
}
#main-tabs dd a.first
{
    border-left: none !important;
}
#main-tabs dd a
{
    color: #757575;
    font-size: 13px;
    font-family: "Trebuchet MS" , Arial, Helvetica, Sans-Serif;
    text-shadow: none;
}
#main-tabs dd a.active
{
    color: #fff;
}

#sub-nav
{
    background-color: #51A5BA;
    height: 50px;
    padding: 0px 10px;
}
#sub-nav dd
{
    display: block;
    color: #fff;
    margin-bottom: 20px;
}

#sub-nav dd a, #sub-nav dd a:active
{
    background: none;
    color: #fff;
    border: none;
    height: 50px;
    line-height: 50px;
    font-weight: normal;
    font-size: 12px;
    font-family: "Trebuchet MS" , Arial, Helvetica, Sans-Serif;
    text-shadow: none;
}
#sub-nav dd a.active
{
    background-image: url('images/subnav-active-background.gif');
    background-repeat: repeat-x;
    background-position: center;
}
#sub-nav a #all
{
    background-image: url('images/sub-nav-all-icon.gif');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
}
#sub-nav a.active #all
{
    background-image: url('images/sub-nav-all-icon-active.gif');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
}
#sub-nav a #payments
{
    background-image: url('images/sub-nav-payments-icon.gif');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
}
#sub-nav a.active #payments
{
    background-image: url('images/sub-nav-payments-icon-active.gif');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
}
#sub-nav a #requests
{
    background-image: url('images/sub-nav-requests-icon.gif');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
}
#sub-nav a.active #requests
{
    background-image: url('images/sub-nav-requests-icon-active.gif');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
}
#sub-nav a #alerts
{
    background-image: url('images/sub-nav-alerts-icon.gif');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
}
#sub-nav a.active #alerts
{
    background-image: url('images/sub-nav-alerts-icon-active.gif');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 15px;
}
#footer-menu
{
    font-size: 11px;
    color: #8b8b8b;
}
#main-body-sub-links
{
    font-size: 12px;
    color: #909090;
}
#securityCallout-wrapper
{
    background-image: url('images/security_callout_left.gif');
    background-repeat: no-repeat;
}
#securityCallout
{
    background-image: url('images/security_callout_right.gif');
    background-repeat: no-repeat;
    margin-left: 48px;
    height: 82px;
}
#socialNetworkIcons dd
{
    margin-right: 20px;
}
#profile-wrapper .member-image img
{
    float: left;
    margin: 10px 12px 16px 10px;
}
.notes
{
    font-size: 11px;
    color: #6d6e71;
}
.note-emphasis
{
    font-family: Times New Roman, Georgia, Serif;
    font-weight: normal;
    font-style: italic;
    font-size: 18px;
    text-align: center;
}
label.error
{
    color: red;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 0.5em;
    width: 100%;
    float: none;
}
.copyright
{
    font-size: 11px;
    color: #a2a2a2;
}
.thought
{
    padding: 10px;
    border: 1px solid #ccd3d2;
    background-color: #f0f0f0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#f5f6f5));
    background: -webkit-linear-gradient(top, #f5f6f5, #e6e6e6);
    background: -moz-linear-gradient(top, #f5f6f5, #e6e6e6);
    background: -ms-linear-gradient(top, #f5f6f5, #e6e6e6);
    background: -o-linear-gradient(top, #f5f6f5, #e6e6e6);
    position: relative;
}
.thought p
{
    margin-bottom: 0;
    color: #676767;
    font-style: italic;
    font-size: 12px;
    text-shadow: none;
}
.thought .arrow
{
    display: block;
    width: 10px;
    height: 8px;
    position: absolute;
    top: -8px;
    left: 30px;
    background-image: url(images/thought-arrow-up.png);
    background-repeat: no-repeat;
}

input.ui-input-text, textarea.ui-input-text
{
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: none;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#ffffff));
    background: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background: -o-linear-gradient(top, #ffffff, #e6e6e6);
}
input::-webkit-input-placeholder
{
    font-style: italic;
    color: #6d6e71;
    text-shadow: none;
    font-size: 12px;
}
input:-moz-placeholder
{
    font-style: italic;
    color: #6d6e71;
    text-shadow: none;
    font-size: 12px;
}
#signin-submit, #update-account, #register-submit, #verify-submit, #btnUpdateProfile, #btnSendMoney, #btnRequestMoney, #button-submit-ach, #reset-password-submit, #btn-forgot-password-submit
{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1d8639), to(#71b26d));
    background: -webkit-linear-gradient(top, #71b26d, #1d8639);
    background: -moz-linear-gradient(top, #71b26d, #1d8639);
    background: -ms-linear-gradient(top, #71b26d, #1d8639);
    background: -o-linear-gradient(top, #71b26d, #1d8639);
}
#add-account, #add-account-submit, #btnSkipStep
{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a6bb), to(#6ac9e1));
    background: -webkit-linear-gradient(top, #6ac9e1, #52a6bb);
    background: -moz-linear-gradient(top, #6ac9e1, #52a6bb);
    background: -ms-linear-gradient(top, #6ac9e1, #52a6bb);
    background: -o-linear-gradient(top, #6ac9e1, #52a6bb);
}
#remove-account
{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ca6431), to(#fd8403));
    background: -webkit-linear-gradient(top, #fd8403, #ca6431);
    background: -moz-linear-gradient(top, #fd8403, #ca6431);
    background: -ms-linear-gradient(top, #fd8403, #ca6431);
    background: -o-linear-gradient(top, #fd8403, #ca6431);
}
#signin-facebook-submit
{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#667cb2), to(#758fc7));
    background: -webkit-linear-gradient(top, #758fc7, #667cb2);
    background: -moz-linear-gradient(top, #758fc7, #667cb2);
    background: -ms-linear-gradient(top, #758fc7, #667cb2);
    background: -o-linear-gradient(top, #758fc7, #667cb2);
}
a.imgbtn, button.imgbtn
{
    display: block;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    clear: both;
    margin-bottom: 10px;
    border: 0;
    cursor: pointer;
}
a.imgbtn:after, button.imgbtn:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
a.imgbtn img, button.imgbtn img
{
    border-right: 1px solid #4e9b54;
    padding: 0 10px;
    float: left;
}
a.imgbtn span, button.imgbtn span
{
    display: block;
    float: left;
    color: #fff;
    font-family: "Trebuchet MS" , Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
    height: 46px;
    line-height: 46px;
    vertical-align: middle;
    text-shadow: 1px 1px #666;
    border-left: 1px solid #7bb57f;
}

button.field-btn
{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eceff2), to(#f9fafb));
    background: -webkit-linear-gradient(top, #f9fafb, #eceff2);
    background: -moz-linear-gradient(top, #f9fafb, #eceff2);
    background: -ms-linear-gradient(top, #f9fafb, #eceff2);
    background: -o-linear-gradient(top, #f9fafb, #eceff2);   
    padding:0 !important;
    border:1px solid #c0c9d1 !important;
}

button.setting-btn
{
    width:95%;
    margin:15px;
    background: #FFFFFF;
    padding:0 !important;
    border:1px solid #c0c9d1 !important;
}

button.setting-btn span, button.imgbtn.setting-btn span
{
 color:#3B3B3B;   
 border:none;
    border-width:0;
    text-shadow: 1px 1px #fff;
    padding-left:18px;
    font-size:16px;
}

button.setting-btn img
{
    margin-top:0px;
    border:none;
    border-width:0;
}
button.setting-btn span.imgbg
{
    background-color:#e9e9ea;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width:41px;
    height:46px;
    display:block;
    float:left;
    border:none;
    border-width:0;
    padding-left:0px;
    
}

button.field-btn span, button.imgbtn.field-btn span
{
 color:#6d6e71;   
 border:none;
    border-width:0;
    text-shadow: 1px 1px #fff;
    padding-left:16px;
}
button.field-btn img
{
    margin-top:10px;
    border:none;
    border-width:0;
}
button.field-btn span.imgbg
{
    background-color:#e9e9ea;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width:41px;
    height:46px;
    display:block;
    float:left;
    border:none;
    border-width:0;
    padding-left:4px;
    
}
a.imgbtn span.ui-button-text, button.imgbtn span.ui-button-text
{
    border: 0;
    padding-left: 0;
}
a.fbSignIn img, button.fbSignIn img
{
    border-right: 1px solid #597ea9;
    padding: 0 5px;
}
a.fbSignIn span, button.fbSignIn span
{
    border-left: 1px solid #7b97d1;
}

.cbListPaystream
{
    float: right;
}
.cbListPaystream.first
{
    margin-right: 10px;
    float: left;
}
.paystream-filters:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.ui-checkbox label
{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#ffffff));
    background: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background: -o-linear-gradient(top, #ffffff, #e6e6e6);
}
.ui-checkbox label span
{
    font-size: 12px;
    color: #676767;
    font-weight: normal;
}
.ui-checkbox label span.ui-btn-inner
{
    padding: 0.6em 10px;
}
.ui-checkbox label.ui-checkbox-on
{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#d6dada));
    background: -webkit-linear-gradient(top, #d6dada, #e6e6e6);
    background: -moz-linear-gradient(top, #d6dada, #e6e6e6);
    background: -ms-linear-gradient(top, #d6dada, #e6e6e6);
    background: -o-linear-gradient(top, #d6dada, #e6e6e6);
    border: 1px solid #ccc;
}
.ui-checkbox label.ui-checkbox-on span
{
    color: #31879d !important;
    text-shadow: 1px 1px #fff;
}


input.ui-input-text, textarea.ui-input-text
{
 width:100%;   
}

/* ---------- [ Paystream Transactions ] ---------- */
.trans-type
{
    width: 40px;
    float: left;
    display: block;
    overflow: hidden;
    padding: 10px 0 0 0;
}
.trans-title
{
    width: 60%;
    padding: 0 auto;
    float: left;
    font-size: 11px;
    text-shadow: none;
    display: inline-block;
}
.trans-title strong
{
    height: 30px;
    font-size: 12px;
    clear: both;
    display: block;
    font-weight: bolder;
    white-space: normal;
    overflow: hidden;
}
.trans-title em
{
    font-size: 10px;
    font-weight: normal;
    color: #6d6e71;
}
.status
{
    width: 20px;
    float: left;
    display: block;
    overflow: hidden;
    text-align: right;
    padding-right: 5px;
}
.trans-comment
{
    padding-top: 15px;
    font-size: 10px;
    font-style: italic;
    color: #a8a9ab;
    font-weight: normal;
}
.title-pay-in
{
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    color: #1c8839;
}
.title-pay-out
{
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    color: #269bb8;
}
.title-request-in
{
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    color: #86acb5;
}
.title-request-out
{
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    color: #81b28e;
}
.trans-amount
{
    padding: 5px 10px 0 0;
    float: right;
    display: inline-block;
    text-align: right;
    text-shadow: none;
    font-size: 10px;
    font-weight: normal;
    vertical-align: middle;
    width: 20%;
}
.gray-above
{
    padding-bottom: 10px;
    color: #a8a9ab;
    font-size: 10px;
    font-style: italic;
}
.gray-out
{
    padding-top: 10px;
    color: #a8a9ab;
    font-size: 12px;
    font-style: italic;
}
.paystream-pay-in
{
    font-size: 10px;
    font-weight: bold;
    color: #1c8839;
}
.paystream-pay-out
{
    font-size: 10px;
    font-weight: bold;
    color: #269bb8;
}
.paystream-request-in
{
    font-size: 10px;
    font-weight: bold;
    color: #86acb5;
}
.paystream-request-out
{
    font-size: 10px;
    font-weight: bold;
    color: #81b28e;
}
.receive .trans-amount
{
    color: #1c8839;
}
.paid .trans-amount
{
    color: #196779;
}
.pending .trans-amount
{
    color: #6d6e71;
}
.paystream-header
{
    background: #919191;
    color: #FFFFFF;
    font-size: 13px;
    text-indent: 10px;
    letter-spacing: 1px;
    padding: 6px;
}
.member-name
{
    font-size: 10px;
    font-weight: bold;
}
.dialog
{
    position: relative;
    display: block;
}
.dialog-close
{
    position: absolute;
    top: 5px;
    right: 5px;
    background-image: url('images/close-dialog.gif');
    background-repeat: no-repeat;
    height: 21px;
    width: 20px;
    cursor: pointer;
}
.bank-icon
{
    display: block;
    float: left;
    margin: 5px 10px 5px 0px;
}
.paystream-row
{
    background: #F7F7F7;
}
.paystream-row-alt
{
    background: #FFFFFF;
}
.paystream-dialog
{
    display: none;
    width: 95%;
    height: 80%;
    background: #FFFFFF;
    position: fixed;
    right: 0%;
    top: 20%;
    z-index: 101;
    border-left: 1px solid #888;
    border-top: 1px solid #888;
    border-top-left-radius: 4em;
    -moz-border-radius-topleft: 4em;
    -webkit-border-top-left-radius: 4em;
}
.choosemoney-dialog
{
    display: none;
    width: 100%;
    height: 80%;
    background: #FFFFFF;
    position: fixed;
    border: 1px solid #888;
    right: 0%;
    top: 20%;
    z-index: 101;
}
.overlay
{
    display: none;
    background: black;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    opacity: 0.2;
}

.paystream-dialog-title-bg
{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background: #E8E8E8;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 2em;
    -moz-border-radius-topleft: 2em;
    -webkit-border-top-left-radius: 2em;
}

.paystream-dialog-inner-display
{
    padding-left: 20px;
    padding-right: 20px;
}

.paystream-dialog-closebtn
{
    background-image: url('images/close-dialog.gif');
    height: 20px;
    width: 21px;
    background-repeat: no-repeat;
    float: left;
    top: 20px;
    left: 20px;
    position: relative;
}

.paystream-user
{
    width: 40px;
    float: left;
    display: block;
    overflow: hidden;
    padding: 10px 0 0 0;
}

.paystream-user-next
{
    width: 40px;
    float: right;
    display: block;
    overflow: hidden;
    padding: 10px 0 0 0;
}

.paystream-subbar
{
    background: #AAF0D3;
    color: #40A37A;
    font-size: 13px;
    font-weight: bolder;
    padding: 10px;
}

.user-statement
{
    font-size: 11px;
    font-weight: bold;
    padding-top: 10px;
}


.paystream-date
{
    text-align: right;
    font-size: medium;
    font-style: italic;
    color: #B3B3B3;
    padding-bottom: 5px;
}

.paystream-wrapper
{
    display: block;
    height: 80px;
}

.paystream-status-dialog
{
    text-align: center;
    margin: 15px;
    border-style: solid;
    border-color: #A3A3A3;
    border-width: 1px;
    color: #B56B16;
    font-weight: bold;
    padding: 15px;
}

p
{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.speech-bubble-border
{
    position: relative;
    padding: 15px 15px 15px 15px;
    margin: 1em 0 3em;
    border: 3px solid #B8B8B8;
    color: #636363;
    background: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.speech-bubble-border.top::after
{
    top: -13px;
    bottom: auto;
    left: 34px;
    right: auto;
    border-width: 0 13px 13px;
}

.speech-bubble-border::before
{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 27px;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #B8B8B8 transparent;
    display: block;
    width: 0;
}

.speech-bubble-border.top::before
{
    top: -20px;
    bottom: auto;
    left: 27px;
    right: auto;
    border-width: 0 20px 20px;
}

.speech-bubble-border::after
{
    content: "";
    position: absolute;
    bottom: -13px;
    left: 34px;
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: white transparent;
    display: block;
    width: 0;
}

.paystream-header-title
{
    padding: 10px;
    text-align: center;
    font-size: 13px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e6e6), to(#ffffff));
    background: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background: -o-linear-gradient(top, #ffffff, #e6e6e6);
    color: #6E6E6E;
    font-weight: bold;
}

/* ----- SETTINGS TAB ------*/

.globalbg
{
    background-color: #1c8839;
    padding: 5px;
    margin: -20px -10px 0px -10px;
}

.tablesettings
{
    height: 42px;
    margin-bottom: 15px;
    padding-left: 5px;
    overflow: hidden;
    color: #4A4A4A;
    background-color: #FFFFFF;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: 2px solid #D6D6D6;
    font-weight: bold;
}

.tablemiddle
{
    color: #4A4A4A;
    height: 42px;
    padding-left: 5px;
    overflow: hidden;
    background-color: #FFFFFF;
    border-left: 2px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
    border-right: 2px solid #D6D6D6;
    font-weight: bold;
}

.tabletop
{
    color: #4A4A4A;
    height: 42px;
    padding-left: 5px;
    overflow: hidden;
    background-color: #FFFFFF;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top: 2px solid #D6D6D6;
    border-left: 2px solid #D6D6D6;
    border-right: 2px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
    font-weight: bold;
}

.tablebottom
{
    color: #4A4A4A;
    height: 42px;
    margin-bottom: 15px;
    padding-left: 5px;
    overflow: hidden;
    background-color: #FFFFFF;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-left: 2px solid #D6D6D6;
    border-right: 2px solid #D6D6D6;
    border-bottom: 2px solid #D6D6D6;
    font-weight: bold;
}

/*---- SEND MONEY TAB --------*/
h8
{
    position: absolute;
    top: 18px;
    left: 18%;
    width: 100%;
}

h8 span
{
    font-size: 20px;
}

h9
{
    position: absolute;
    top: 25%;
    left: 77%;
    width: 100%;
}

h9 span
{
    font-size: 20px;
    color: #FFFFFF;
}

.availableamt
{
    background: #FFFFFF;
    color: #7D7D7D;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
    font-size: 20px;
}

.quicksend
{
    position: relative;
    background: #FFFFFF;
    color: #7D7D7D;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.fieldamount
{
    background: #F2F2F2;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.boxnumber
{
    background-image: -moz-linear-gradient(top, #828282 0%, #00131F 100%);
    background-image: -o-linear-gradient(top, #828282 0%, #00131F 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #828282), color-stop(1, #00131F));
    height: 70px;
    padding-top: 5px;
    width: 33%;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    border-right: 1px solid #5C5C5C;
    border-top: 1px solid #A8A8A8;
    position: relative;
}

.boxgray
{
    background-image: -moz-linear-gradient(top, #FAFAFA 0%, #DEDEDE 100%);
    background-image: -o-linear-gradient(top, #FAFAFA 0%, #DEDEDE 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FAFAFA), color-stop(1, #DEDEDE));
    height: 70px;
    padding-top: 5px;
    width: 33%;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    border-right: 1px solid #5C5C5C;
    border-top: 1px solid #A8A8A8;
    position: relative;
}
#writeuserbtn
{
    background-image: url('images/field-contact-255x48.png');
    background-repeat: no-repeat;
    height: 48px;
    width: 255px;
    padding-left: 50px;
    padding-top: 3px;
}
.clickamountbtn
{
    background-image: url('images/field-howmuch-255x48.png');
    background-repeat: no-repeat;
    height: 48px;
    width: 255px;
    font-size: 14px;
    padding-left: 50px;
    padding-top: 14px;
}
.quickaddbtn-style
{
    background-image:url('images/btn-quickadd.png');
    height: 36px;
    width: 68px;
    font-size:18px;
    font-weight:bold;
    padding:5px;
    font-color:#000000;
    background-repeat:no-repeat;
    background-color: transparent;
    text-align:center;
}
#gobtn
{
    background-image: url('images/btn-go-active-50x48.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 48px;
    text-align: center;
    font-size: 20px;
}
#gobtn-request
{
  background-image: url('images/btn-go-active-50x48.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 48px;
    text-align: center;
    font-size: 20px;
}
#custom-amount-field
{
    background-image: url('images/field-howmuch-255x48.png');
    background-repeat: no-repeat;
    width: 255px;
    height: 48px;
}
#customAmount
{
    background: transparent;
    border: none;
    border-width: 0px;
}
@media screen and (orientation: portrait)
{
    label.error
    {
        margin-left: 0;
        display: block;
    }
}

@media screen and (orientation: landscape)
{
    label.error
    {
        display: inline-block;
        margin-left: 22%;
    }
}

<<<<<<< HEAD
/*-------HOME SCREEN ELEMENTS---MH-------*/
#wrapper{
			background-image:url(img/bg-pattern.png);
			height:600px;
		}
	
	#profiletop{
		margin-top:-8px;
	}
		.stream-pic{
		width:45px;
		height:45px;
		margin-left:15px;
		background-color:#aaaaaa;
		border-radius:7px;
		border:1px solid #cccccc;
		}
		.personal{
			float:left;
		}
		.bottomCorners{
		height: 55px;
		width:160px;
		-webkit-border-radius-bottomright: 10px;
		-webkit-border-radius-bottomleft: 10px;
		-moz-border-radius-bottomright: 10px;
		-moz-border-radius-bottomleft: 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		}
		.element{
			background-color:white;
			border: 1px solid gray;
			padding:10px;
			margin:0;
		}
		#profileTips{
			display:block; margin-left:auto; margin-right:auto;
			width:90%;
		}
		#profileDesc{
			margin-left:80px;
		}
		#profilePic{
			margin-top:-7px;
		}
		.textCenter{
			margin-top:-20px;
		}
		.verticalMiddle{
			padding-left:50%; 
			margin-left:-122px;
			margin-top:20px;
			align:center;
			
		}
		.block{
			display:block;
			margin-left:15%;
		}
		.quickpay{
			width:80px;
		}
		#paystreambtn{
			font: 2em "Helvetica",sans-serif;
		}
		.pactions{
			text-decoration:none;
		}
		.nav-pdthx .ui-icon  { width: 30px!important; height:30px !important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
			ui-icon-homeIcon { background: url("/images/home.png")50% 50% no-repeat ;}
			#paystream .ui-icon { background:  url(../pdthx-icons/paystreamIcon.png) 50% 50% no-repeat; }
			#send .ui-icon { background:  url(../pdthx-icons/sendIcon.png) 50% 50% no-repeat; }
			#request .ui-icon { background:  url(../pdthx-icons/requestIcon.png) 50% 50% no-repeat; }
			#profile .ui-icon { background:  url(../pdthx-icons/profileIcon.png) 50% 50% no-repeat; }
			#welcome .ui-icon { background:  url("/images/home.png") 50% 50% no-repeat; }
		    #signin .ui-icon { background:  url("/images/signinIcon.png") 50% 50% no-repeat; }
		    #about .ui-icon { background:  url("/images/helpIcon.png") 50% 50% no-repeat; }
			.ui-mobile .ui-page .ui-footer .ui-navbar,
			.ui-mobile .ui-page .ui-footer .ui-navbar ul {
			    overflow : visible; 
			}?
			
			.mainButton{
			    position:absolute;
			    height:70px;
				width:20%;
			    bottom:-55px;
			    z-index:11;
				border-top:gray 2px;

			        -webkit-border-top-right-radius : 6px;
			       -moz-border-top-right-radius : 6px;
			            border-top-right-radius : 6px;
			    -webkit-border-top-left-radius  : 6px;
			       -moz-border-top-left-radius  : 6px;
			            border-top-left-radius  : 6px;

				-webkit-box-shadow: 0px -2px 2px 4px rgba(200, 200, 200, .5);
				box-shadow: 0px -2px 2px 4px rgba(200, 200, 200, .5);
			}
			#score {width:110px;
			height:20px;
			margin-left:-25px;
			margin-bottom:-12px;
			padding: 3px 3px 0px 20px;
			background-color:#cccccc;
			border-radius:10px;
			color:white;
			text-shadow:none}
			#increaseScore {width:170px;
			height:20px;
			margin-left:-30px;
			margin-bottom:-12px;
			padding: 3px 3px 0px 20px;
			background-color:#cccccc;
			border-radius:10px;
			color:white;
			text-shadow:none}      
            #main-tabs a #tabHome {
            background-image: url('images/tab-home-30x30.png');
            background-repeat: no-repeat;
            background-position: top center;
            padding-bottom: 0px;}
            #main-tabs a.active #tabHome{
            background-image: url('images/tab-home-30x30-active.png');
            background-repeat: no-repeat;
            background-position: top center;
            padding-left: 0px;}
            #main-tabs a #tabPaystream {
            background-image: url('images/tab-paystream-30x30.png');
            background-repeat: no-repeat;
            background-position: top center;
            padding-bottom: 0px;}
            #main-tabs a.active #tabPaystream{
            background-image: url('images/tab-paystream-30x30-active.png');
            background-repeat: no-repeat;
            background-position: top center;
            padding-left: 0px;}
            #main-tabs a #tabSend {
            background-image: url('images/tab-send-30x30.png');
            background-repeat: no-repeat;
            background-position: top center;
            padding-bottom: 0px;}
            #main-tabs a.active #tabSend{
            background-image: url('images/tab-send-30x30-active.png');
            background-repeat: no-repeat;
            background-position: top center;
            padding-left: 0px;}
            #main-tabs a #tabRequest {
            background-image: url('images/tab-request-30x30.png');
            background-repeat: no-repeat;
            background-position: top center;
            padding-bottom: 0px;}
            #main-tabs a.active #tabRequest{
            background-image: url('images/tab-request-30x30-active.png');
            background-repeat: no-repeat;
            background-position: top center;
            padding-left: 0px;}
            .ui-btn-active{
		    background-image:none;
		    background-color:#ddd;
		    text-shadow: none;
		    }
            .preNav{
            margin-bottom:0px;
		    line-height:25px;
		    height:55px;}
=======


/*  SEEMS LIKE MATTS STUFF  */

  /*.nav-pdthx .ui-btn .ui-btn-inner { padding-top: 40px !important; }*//*  */
  
  .nav-pdthx ul li a
  {
    height:50px;  
  }
  
  .nav-pdthx span.ui-btn-inner{
  padding-top: 32px !important;
  font-size:11px;
  }
  
  div.ui-page div.ui-header.ui-bar-a, div.ui-page div.ui-header.ui-bar-c
  {
      
border: 1px solid #b8b8b8 /*{a-bar-border}*/;
background: #b6b8c0 /*{a-bar-background-color}*/;
color: #34363d !important; /*{a-bar-color}*/;
font-weight: bold;
text-shadow: 0 /*{a-bar-shadow-x}*/ -1px /*{a-bar-shadow-y}*/ 1px /*{a-bar-shadow-radius}*/ white /*{a-bar-shadow-color}*/;
background-image: -webkit-gradient(linear, left top, left bottom, from( #b5b8bf /*{a-bar-background-start}*/), to( #f2f2f3 /*{a-bar-background-end}*/));
background-image: -webkit-linear-gradient(#f2f2f3 /*{a-bar-background-start}*/, #b5b8bf /*{a-bar-background-end}*/);
background-image: -moz-linear-gradient(#f2f2f3 /*{a-bar-background-start}*/, #b5b8bf /*{a-bar-background-end}*/);
background-image: -ms-linear-gradient(#f2f2f3 /*{a-bar-background-start}*/, #b5b8bf /*{a-bar-background-end}*/);
background-image: -o-linear-gradient(#f2f2f3 /*{a-bar-background-start}*/, #b5b8bf /*{a-bar-background-end}*/);
background-image: linear-gradient(#f2f2f3 /*{a-bar-background-start}*/, #b5b8bf /*{a-bar-background-end}*/);
border-radius: 0px 0px 0px 0px;
}

.nav-pdthx.ui-footer
{
 box-shadow:0 -1px 1px #bebebe; 
 moz-box-shadow:0 -1px 1px #bebebe;     
} 
.nav-pdthx.ui-header
{
 box-shadow:0 1px 1px #bebebe; 
 moz-box-shadow:0 1px 1px #bebebe;     
} 

  .nav-pdthx .ui-icon
        {
            width: 30px !important;
            height: 30px !important;
            margin-left: -15px !important;
            box-shadow: none !important;
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            -webkit-border-radius: 0 !important;
            border-radius: 0 !important;
        }
        #home .ui-icon
        {
            background: url(images/icons/homeIcon.png) 50% 50% no-repeat;
        }
        #paystream .ui-icon
        {
            background: url(images/icons/paystreamIcon.png) 50% 50% no-repeat;
        }
        #send .ui-icon
        {
            background: url(images/icons/sendIcon.png) 50% 50% no-repeat;
        }
        #request .ui-icon
        {
            background: url(images/icons/requestIcon.png) 50% 50% no-repeat;
        }
        
        #profile .ui-icon
        {
            background: url(images/icons/profileIcon.png) 50% 50% no-repeat;
        }
        #dogood .ui-icon
        {
            background: url(images/icons/dogoodIcon.png) 50% 50% no-repeat;
        }
        #home.ui-btn-active .ui-icon
        {
            background: url(images/icons/homeIcon-active.png) 50% 50% no-repeat;
        }
        #paystream.ui-btn-active .ui-icon
        {
            background: url(images/icons/paystreamIcon-active.png) 50% 50% no-repeat;
        }
        #send.ui-btn-active .ui-icon
        {
            background: url(images/icons/sendIcon-active.png) 50% 50% no-repeat;
        }
        #request.ui-btn-active .ui-icon
        {
            background: url(images/icons/requestIcon-active.png) 50% 50% no-repeat;
        }
        #profile.ui-btn-active .ui-icon
        {
            background: url(images/icons/profileIcon-active.png) 50% 50% no-repeat;
        }
        #dogood.ui-btn-active .ui-icon
        {
            background: url(images/icons/dogoodIcon-active.png) 50% 50% no-repeat;
        }
        
         #welcome .ui-icon
        {
            background: url(images/icons/homeIcon.png) 50% 50% no-repeat;
        }
        #signin .ui-icon
        {
            background: url(images/icons/signinIcon.png) 50% 50% no-repeat;
        }
        #join .ui-icon
        {
            background: url(images/icons/joinIcon.png) 50% 50% no-repeat;
        }
        #about .ui-icon
        {
            background: url(images/icons/aboutIcon.png) 50% 50% no-repeat;
        }
         #welcome.ui-btn-active .ui-icon
        {
            background: url(images/icons/homeIcon-active.png) 50% 50% no-repeat;
        }
        #signin.ui-btn-active .ui-icon
        {
            background: url(images/icons/signinIcon-active.png) 50% 50% no-repeat;
        }
        #join.ui-btn-active .ui-icon
        {
            background: url(images/icons/joinIcon-active.png) 50% 50% no-repeat;
        }
        #about.ui-btn-active .ui-icon
        {
            background: url(images/icons/aboutIcon-active.png) 50% 50% no-repeat;
        }
        
      .ui-btn-active  
      {
          box-shadow:inset 0 0 8px #6ac36b; 
          -moz-box-shadow:inset 0 0 8px #6ac36b; 
        border: 1px solid #cccccc;
background: #eeeeee;
font-weight: bold;
color: #2a7e43 /*{global-active-color}*/;
cursor: pointer;
text-shadow: 0 /*{global-active-shadow-x}*/ 1px /*{global-active-shadow-y}*/ 1px /*{global-active-shadow-radius}*/ #3373A5 /*{global-active-shadow-color}*/;
text-decoration: none;
background-image: -webkit-gradient(linear, left top, left bottom, from( #ffffff /*{global-active-background-start}*/), to( #fefefe /*{global-active-background-end}*/));
background-image: -webkit-linear-gradient( #ffffff /*{global-active-background-start}*/, #fefefe /*{global-active-background-end}*/);
background-image: -moz-linear-gradient( #ffffff /*{global-active-background-start}*/, #fefefe /*{global-active-background-end}*/);
background-image: -ms-linear-gradient( #ffffff /*{global-active-background-start}*/, #fefefe /*{global-active-background-end}*/);
background-image: -o-linear-gradient( #ffffff /*{global-active-background-start}*/, #fefefe /*{global-active-background-end}*/);
background-image: linear-gradient( #ffffff /*{global-active-background-start}*/, #fefefe /*{global-active-background-end}*/);
font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
      }
      
      .ui-btn-active span.ui-btn-text{  
color: #2a7e43 /*{global-active-color}*/;
cursor: pointer;
text-shadow: 0 /*{global-active-shadow-x}*/ 1px /*{global-active-shadow-y}*/ 1px /*{global-active-shadow-radius}*/ #ffffff /*{global-active-shadow-color}*/;
      }
        
        #btn-settings
        {
            background: url(images/icons/settingsIcon.png) 50% 50% no-repeat;
            width:35px;
            height:30px;
            position:absolute;
            right:20px;
            border:0px;
            background-color:transparent;
            border-radius:0px;
            -moz-border-radius: 0;
-webkit-border-radius: 0;
margin-top:2px;
        }
        .ui-btn-main
        {
            position: absolute;
            height: 70px;
            width: 20%;
            bottom: -55px;
            z-index: 11;
            border-top: gray 2px;
            -webkit-border-top-right-radius: 6px;
            -moz-border-top-right-radius: 6px;
            border-top-right-radius: 6px;
            -webkit-border-top-left-radius: 6px;
            -moz-border-top-left-radius: 6px;
            border-top-left-radius: 6px;
            -webkit-box-shadow: 0px -2px 2px 4px rgba(200, 200, 200, .5);
            box-shadow: 0px -2px 2px 4px rgba(200, 200, 200, .5);
        }
        .ui-mobile .ui-page .ui-footer .ui-navbar, .ui-mobile .ui-page .ui-footer .ui-navbar ul
        {
            overflow: visible;
        }
        ? .ui-btn-active
        {
            background-image: none !important;
            background-color: gray;
        }
        .thumb
        {
            float: left;
            padding: 5px;
            margin-right: 5px;
            border: solid 1px #d2d2d2;
            background-color: white;
        }
        .ui-li-r
        {
            float: right;
            color: green;
        }
        .sideindicator
        {
            border-left: 2px solid green;
        }
        .ui-btn-main-active
        {
            background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(241,241,241,1) 67%, rgba(247,247,247,0) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(67%,rgba(241,241,241,1)), color-stop(100%,rgba(247,247,247,0))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(241,241,241,1) 67%,rgba(247,247,247,0) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(241,241,241,1) 67%,rgba(247,247,247,0) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(241,241,241,1) 67%,rgba(247,247,247,0) 100%); /* IE10+ */
            background: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(241,241,241,1) 67%,rgba(247,247,247,0) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#00f7f7f7',GradientType=0 ); /* IE6-9 */
        }
        ul
        {
            margin: 0;
            padding: 0;
        }
        li.paystream-item
        {
            list-style: none;
            border-bottom: 1px solid #b7b7b7;
        }
        a.paystreamer
        {
            display: block;
            position: relative;
            font-family: Helvetica, Arial, sans-serif;
            z-index: 100;
            height: 80px;
            width: 100%;
            min-width: 375px;
            cursor: pointer;
        }
        a.paystreamer:hover
        {
            display: block;
            position: relative;
            font-family: Helvetica, Arial, sans-serif;
            z-index: 100;
            height: 80px;
            width: 100%;
            min-width: 375px;
            cursor: pointer;
            background-color: #eeeeee;
        }
        a.paystreamer span
        {
            display: block;
            position: absolute;
            font-family: Helvetica, Arial, sans-serif;
            z-index: 100;
        }
        .stream-new
        {
            width: 4px;
            height: 80px;
            left: 0;
            top: 0;
            background-color: #269bb8;
            border-right: 1px solid #a5a5a5;
        }
        .stream-pic
        {
            width: 45px;
            height: 45px;
            margin-left: 15px;
            top: 8.75%;
            background-color: #aaaaaa;
            border-radius: 7px;
            border: 1px solid #cccccc;
        }
        .stream-contact
        {
            margin-left: 70px;
            width: 56%;
            height: 40%; /*left:17.5%;*/
            float: left;
            top: 13%;
            background-color: transparent;
            color: #34363d;
            font-weight: bold;
            font-size: 18px;
        }
        .stream-event
        {
            display: inline;
            position: static;
            color: #269bb8;
            font-weight: normal;
            font-size: 60%;
        }
        .stream-message
        {
            margin-left: 70px;
            width: 56%;
            height: 30%; /*left:17.5%;*/
            float: left;
            top: 70%;
            background-color: transparent;
            color: #34363d;
            font-weight: bold;
            color: #999999;
            font-weight: normal;
            font-size: 60%;
            font-style: italic;
        }
        .stream-timing
        {
            width: 24%;
            height: 30%;
            right: 5%;
            top: 13%;
            background-color: transparent;
            color: #999999;
            font-weight: normal;
            font-size: 60%;
            font-style: italic;
            text-align: right;
        }
        .stream-amount
        {
            width: 150px;
            height: 33%;
            right: 5%;
            top: 33%;
            background-color: transparent;
            font-weight: bold;
            color: #269bb8;
            font-weight: bold;
            font-size: 24px;
            text-align: right;
            z-index: 200;
        }
        .stream-status
        {
            width: 24%;
            height: 30%;
            right: 5%;
            top: 70%;
            background-color: transparent;
            color: #999999;
            font-weight: bold;
            font-size: 60%;
            text-align: right;
        }
        li.paystream-item.even
        {
            background-color: #f8f9f9;
        }
        li.paystream-item.sent.payment a.paystreamer span.stream-new
        {
            background-color: #269bb8;
        }
        li.paystream-item.sent.request a.paystreamer span.stream-new
        {
            background-color: #648e6f;
        }
        li.paystream-item.received.payment a.paystreamer span.stream-new
        {
            background-color: #38a059;
        }
        li.paystream-item.received.request a.paystreamer span.stream-new
        {
            background-color: #688891;
        }
        li.paystream-item.sent.payment .stream-event, .sent.payment .stream-amount
        {
            color: #269bb8;
        }
        li.paystream-item.sent.request .stream-event, .sent.request .stream-amount
        {
            color: #648e6f;
        }
        li.paystream-item.received.payment .stream-event, .received.payment .stream-amount
        {
            color: #38a059;
        }
        li.paystream-item.received.request .stream-event, .received.request .stream-amount
        {
            color: #688891;
        }
        .personal
        {
            float: left;
        }
        
        
        div.panel {
padding: 20px 20px 2px 20px;
background-color: #FFFFFF;
background-image:none;
background: #ffffff;
filter: none;
box-shadow: 0px 0px 0px #ffffff;
-webkit-box-shadow: 0px 0px 0px #ffffff;
-moz-box-shadow: 0px 0px 0px #ffffff;
margin: 0 0 20px 0;
}
<<<<<<< HEAD
>>>>>>> upstream/development
=======

div#footer
{
 margin-top:40px;   
}
>>>>>>> upstream/development
