
body{
	background-image:#ccc;
}

#anchor
{
 width:100%;
	margin:0 auto;
	height:100%;
	overflow:hidden;
	text-align: center;   
}
.patternlockcontainer{
	width:100%;
	margin:0 auto;
	height:90%;
	overflow:hidden;
	text-align: center;
	clear:both;
	position:absolute;
}

.patternlocklineshorizontalcontainer{
    width:300px;
    height:300px;
	margin:0 auto;
	overflow:hidden;
	text-align: center;
	clear:both;
	position:absolute;
	max-width:500px;
	max-height:500px;
}

.patternlocklinesverticalcontainer{
	margin:0 auto;
	width:300px;
    height:300px;
	overflow:hidden;
	text-align: center;
	clear:both;
	position:absolute;
	max-width:500px;
	max-height:500px;
	
}

.patternlocklinesdiagonalcontainer{
	margin:0 auto;
	width:300px;
    height:300px;
	overflow:hidden;
	text-align: center;
	position:absolute;
	max-width:500px;
	max-height:500px;
}

.patternlockbuttoncontainer{
	width:300px;
    height:300px;
	margin:0 auto;
	overflow:hidden;
	text-align: center;
	position:absolute;
	max-width:500px;
	max-height:500px;
	}

.patternlockbutton{
	background-image:url('images/btn-pinswipe.png');
	background-repeat:no-repeat;
	display:block;
	width:70px;
	height:70px;
}
#patternlockbutton1
{
    margin-left:0;
    position:absolute;
    left:5%;
    top:5%;
}
#patternlockbutton2
{
      margin-left:-35px;
    position:absolute;
    left:50%;
    top:5%;
}
#patternlockbutton3
{
      margin-left:0;
    position:absolute;
    right:5%;
    top:5%;
}
#patternlockbutton4
{
    margin-left:0;
    margin-top:-35px;
    position:absolute;
    left:5%;
    top:50%;
}
#patternlockbutton5
{
    margin-left:-35px;
    margin-top:-35px;
    position:absolute;
    left:50%;
    top:50%;
}
#patternlockbutton6
{
    margin-left:0;
    margin-top:-35px;
    position:absolute;
    right:5%;
    top:50%;
}
#patternlockbutton7
{
    margin-left:0;
    margin-top:0;
    position:absolute;
    left:5%;
    bottom:5%;
}
#patternlockbutton8
{
      margin-left:-35px;
    margin-top:0;
    position:absolute;
    left:50%;
    bottom:5%;
}
#patternlockbutton9
{
    margin-left:0;
    margin-top:0;
    position:absolute;
    right:5%;
    bottom:5%;
}


#line14
{
    margin-left:26px;
    margin-top:35px;
    left:5%;
    top:5%; 
}

#line25{
    margin-left:-9px;
    margin-top:35px;
    left:50%;
    top:5%; 
}

#line36{
    margin-right:26px;
    margin-top:35px;
    right:5%;
    top:5%; 
}
#line47
{
    margin-left:26px;
    margin-top:0px;
    left:5%;
    top:50%; 
}

#line58{
    margin-left:-9px;
    margin-top:0px;
    left:50%;
    top:50%;
}

#line69{
    margin-right:26px;
    margin-top:0px;
    right:5%;
    top:50%; 
}

#line12
{
    margin-left:35px;
    margin-top:26px;
    left:5%;
    top:5%; 
}

#line23{
    margin-left:0px;
    margin-top:26px;
    left:50%;
    top:5%; 
}

#line45{
    margin-left:35px;
    margin-top:-9px;
    left:5%;
    top:50%; 
}
#line56
{
   margin-left:0px;
    margin-top:-9px;
    left:50%;
    top:50%; 
}

#line78{
   margin-left:35px;
    margin-bottom:26px;
    left:5%;
    bottom:5%; 
}

#line89{
    margin-left:0px;
    margin-bottom:26px;
    left:50%;
    bottom:5%; 
}

/*diagonals*/
#line24{
    margin-left:0px;
    margin-top:0px;
    left:29%;
    top:5%; 
}

#line35{
    margin-left:0px;
    margin-top:0px;
    left:65%;
    top:5%; 
}
#line57{
    margin-left:0px;
    margin-top:0px;
    left:29%;
    top:42%; 
}
#line68{
    margin-left:0px;
    margin-top:0px;
    left:65%;
    top:42%; 
}
#line15{
    margin-left:0px;
    margin-top:0px;
    left:29%;
    top:5%; 
}

#line26{
    margin-left:0px;
    margin-top:0px;
    left:65%;
    top:5%; 
}
#line48{
    margin-left:0px;
    margin-top:0px;
    left:29%;
    top:42%; 
}
#line59{
    margin-left:0px;
    margin-top:0px;
    left:65%;
    top:42%; 
}


.touched{
	background-image:url('images/btn-pinswipe-pressed.png');
}

.multiple{
	background-image:url('images/btn-pinswipe-selected.png');
}

.patternlocklinehorizontal{
	visibility:hidden;
	height:18px;
	width:42%; 
	position:absolute;
	border-radius:30px;
	background: #207532; /* for non-css3 browsers */
opacity:0.9;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#389f5a', endColorstr='#207532'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#389f5a), to(#207532)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #389f5a,  #207532); /* for firefox 3.6+ */
    background: -ms-linear-gradient(top, #389f5a, #207532);
    background: -o-linear-gradient(top, #389f5a, #207532); 
}

.patternlocklinevertical
{
    opacity:0.9;
	visibility:hidden;
	width:18px;
	height:38%; 
	position:absolute;
	border-radius:30px;
	background: #207532; /* for non-css3 browsers */

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#389f5a', endColorstr='#207532'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#389f5a), to(#207532)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #389f5a,  #207532); /* for firefox 3.6+ */
    background: -ms-linear-gradient(top, #389f5a, #207532);
    background: -o-linear-gradient(top, #389f5a, #207532); 
}

.patternlocklinediagonalforward
{
    opacity:0.9;
	visibility:hidden;
		width:18px;
	height:53.74%; 
	position:absolute;
	border-radius:30px;
	background: #207532; /* for non-css3 browsers */

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#389f5a', endColorstr='#207532'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#389f5a), to(#207532)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #389f5a,  #207532); /* for firefox 3.6+ */
    background: -ms-linear-gradient(top, #389f5a, #207532);
    background: -o-linear-gradient(top, #389f5a, #207532); 
    
    transform:rotate(45deg);
-ms-transform:rotate(45deg); /* IE 9 */
-moz-transform:rotate(45deg); /* Firefox */
-webkit-transform:rotate(45deg); /* Safari and Chrome */
-o-transform:rotate(45deg); /* Opera */
}

.patternlocklinediagonalbackwards
{
    opacity:0.9;
        transform:rotate(315deg);
-ms-transform:rotate(315deg); /* IE 9 */
-moz-transform:rotate(315deg); /* Firefox */
-webkit-transform:rotate(315deg); /* Safari and Chrome */
-o-transform:rotate(315deg); /* Opera */
		width:18px;
	height:53.74%; 
	position:absolute;
	border-radius:30px;
	background: #207532; /* for non-css3 browsers */

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#389f5a', endColorstr='#207532'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#389f5a), to(#207532)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #389f5a,  #207532); /* for firefox 3.6+ */
    background: -ms-linear-gradient(top, #389f5a, #207532);
    background: -o-linear-gradient(top, #389f5a, #207532); 
	visibility:hidden;
}