body{
	background-image:#ccc;
}

#anchor
{
 width:100%;
	margin:0 auto;
	height:100%;
	overflow:hidden;
	text-align: center;   
}
.patternlockcontainer{
	width:100%;
	margin:0 auto;
	height:100%;
	overflow:hidden;
	text-align: center;
}

.patternlockbuttoncontainer{
	width:90%;
	margin:0 auto;
	height:100%;
	overflow:hidden;
	text-align: center;
	}

.patternlocklineshorizontalcontainer{
	position:absolute;
	width:90%;
	padding:7%;
	display:none;
}

.patternlocklinesverticalcontainer{
	position:absolute;
	width:90%;
	padding:7%;
	display:none;
}

.patternlocklinesdiagonalcontainer{
	position:absolute;
    width:90%;
	padding:7%;
	display:none;
}


.patternlockbutton{
	background-image:url('images/btn-pinswipe.png');
	background-repeat:no-repeat;
	display:block;
	width:70px;
	height:70px;
	float:left;
	margin:5%;
}
#patternlockbutton1
{
    margin-left:0;
}
#patternlockbutton3
{
    margin-right:0px;
}
#patternlockbutton4
{
    margin-left:0;
}
#patternlockbutton6
{
    margin-right:0px;
}
#patternlockbutton7
{
    margin-left:0;
}
#patternlockbutton9
{
    margin-right:0px;
}
.touched{
	background-image:url('images/btn-pinswipe-pressed.png');
}

.multiple{
	background-image:url('images/btn-pinswipe-selected.png');
}

.patternlocklinehorizontal{
	background-image:url('images/line_hor.png');
	background-repeat:no-repeat;
	height:83px;
	width:53px;
	display:block;
	float:left;
	margin:2px -7px 0px 38px;
	visibility:hidden;
}

.patternlocklinevertical{
	background-image:url('images/line_ver.png');
	background-repeat:no-repeat;
	height:53px;
	width:83px;
	display:block;
	float:left;
	margin:38px 0px -7px 3px;
	visibility:hidden;
}

.patternlocklinediagonalforward{
	background-image:url('images/line_diagonal1.png');
	background-repeat:no-repeat;
	height:83px;
	width:83px;
	display:block;
	float:left;
	margin:26px -26px -24px 26px;
	visibility:hidden;
}

.patternlocklinediagonalbackwards{
	background-image:url('images/line_diagonal2.png');
	background-repeat:no-repeat;
	height:83px;
	width:83px;
	display:block;
	float:left;
	margin:26px -26px -24px 26px;
	visibility:hidden;
}