@model Mobile_PaidThx.Models.ResetPasswordModel

@{
    ViewBag.Title = "Reset Your Password";
}
<div id="main-body" class="panel">

<p>
    Create and confirm your new password below: 
</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
    @Html.HiddenFor(m =>m.HasSecurityQuestion)
    @Html.HiddenFor(m => m.SecurityQuestion);
                                            
    <p>
        @if (Model.HasSecurityQuestion)
        {
            @Model.SecurityQuestion
            <br />
            <input type="text" id="txtAnswer" name="SecurityQuestionAnswer" placeholder="Answer" required />
        }
    </p>

    <p>
        <input type="password" id="txtNewPassword" name="NewPassword" placeHolder="New Password" required />
    </p>

    <p>
        <input type="password" id="txtConfirmPassword" name="ConfirmPassword" placeHolder="Confirm Password" required />
    </p>

    <p>
      <button type="submit" id="btn-reset-password" data-theme="f" data-icon="check" data-iconpos="right" class="btn-jq">
                   Confirm New Password</button>
 
    </p>
}
</div>